parameters:
  dothiv.api.listener.view_request.class: Dothiv\APIBundle\Listener\ViewRequestListener
  dothiv.api.listener.http_exception.class: Dothiv\APIBundle\Listener\HttpExceptionListener

services:
  dothiv.api.listener.view_request:
    class: %dothiv.api.listener.view_request.class%
    arguments:
      - @annotation_reader
      - @validator
    tags:
      - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }

  dothiv.api.listener.http_exception:
    class: %dothiv.api.listener.http_exception.class%
    tags:
      - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }
