article.about {
  hr {
    margin-bottom: 50px;
  }
  aside {
    nav {
      ul {
        margin-left: 0px;
        li {
          list-style-type: none;
          margin-left: 0px;
          padding: 0;
          font-style: italic;
          a, a:visited {
            color: #808080;
          }
          a:hover, a.active {
            color: black;
          }
          font-size: 20px;
        }
          ul {
            margin: 15px 0;
            li {
              font-size: 12px;
              margin-bottom: 4px;
              font-weight: 500;
                color: #808080;
            }
          }
      }
    }
  }
  section {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #808080;
    h2 {
      color: @darkpink;
      font-size: 42px;
    }
    h3 {
      font-size: 18px;
    }
    a {
      color: @darkpink;
    }
    a:visited, a:active {
      color: @pink;
    }
  }

}
