// Links
a {
  color: @darkpink;
}
a:visited, a:active {
  color: @darkpink;
}

// Headlines
h1, h2 {
  color: @darkpink;
}

h3, h4, h5, h6 {
  color: @hivblue;
}

// Helpers
.hidden {
  display: none;
}
