.header {
  position: relative;

  h1 {
    margin: 0;
    padding: 0;
  }
  .span1 { margin-left: 0px; }

  .row { margin-bottom: 0px; }
  margin-bottom: 40px;
  .menubar {
    a, a:visited {
      &:extend(.headingLight);
      display: inline-block;
      font-size: 24px;
      margin: 20px 10px 0 10px;
      padding-left: 20px;
      background: url('/bundles/dothivcharitywebsite/images/small-tick-right-e00073.png') no-repeat 2px center;
      &.button {
        padding: 0.5em 1em 0.5em 0.5em;
        color: white;
        text-decoration: none;
        background: @darkpink url('/bundles/dothivcharitywebsite/images/small-tick-right-ffffff.png') no-repeat 95% center;
        &:hover {
          color: white;
          background-color: lighten(@darkpink, 20%);
        }
      }
    }
    a:hover, a.active {
      color: @darkpink;
    }
    margin-top: 20px;

    .barmenu {
      float: left;
      margin-left: 50px;
      font-size: 20px;
      font-weight: bold;
      .cursor-hand;
      height: 40px;
      white-space: nowrap;
    }
  }
  .usermenu {
    ul {
      margin-bottom: 0px;
      margin-left: 5px;
    }
    margin-left: 0px;
    a, a:visited {
      color: @colordark;
    }
    a:hover, a.active {
      color: @darkpink;
    }
  }
  #logorow {
    min-height: 150px;
    .usermenu {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

