// Grid
body > header div.header {
  &:extend(.container all);
  position: relative;
  & > div {
    &:extend(.row all);
    margin-bottom: 0;
  }
  nav {
    a.button {
      &:extend(.btn all);
      &:extend(.btn-large all);
      &:extend(.btn-pink all);
      font-weight: normal;
    }
    &.main {
      width: 50%;
      float: left;
    }
    &.meta {
      position: absolute;
      top: 30px / 4;
      right: 0;
    }
  }
  div.logo {
    width: 50%;
    float: left;
  }
}

// Design
body > header div.header {
  padding-top: (30px / 2);
  padding-bottom: 30px;
  h1 {
    margin: (30px / 2) 0 0 20px;
    position: relative;
    small {
      font-size: 0.4em;
      position: absolute;
      left: 120px + (30px / 2);
      bottom: -4px;
    }
    img {
      width: 120px;
    }
  }
  button.toggle {
    display: none;
  }
  div.navigation {
    nav.meta {
      text-align: right;
      font-size: 14px;
      a {
        text-decoration: underline;
        display: inline-block;
        border-left: 1px solid #eee;
        padding: 0 30px / 4;
        margin: 0;
        color: #000;
        &:hover {
          color: #000;
          text-decoration: none;
        }
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }

    nav.main {
      margin-top: 30px * 1.75;
      a.twoline {
        .pull-left;
        text-decoration: none;
        line-height: 80%;
        display: block;
        color: #000;
        &:hover {
          color: #000;
          text-decoration: none;
        }
        font-size: 150%;
        small {
          font-size: 60%;
          padding-left: 22px;
        }
        &:before {
          .charity-icon;
          content: "a";
          font-size: 14px;
          margin-left: 5px;
          color: @darkpink;
        }
      }
      a.button {
        .pull-right;
        text-decoration: none;
      }
    }
    nav.footer {
      display: none;
    }
  }
}

