.header { 
    margin-bottom: 40px;
    .menubar {
        .barmenu {
            &.first { margin-left: 10px; width: 75px; }
            &.barmenu.secound { width: 130px; }
            &.barmenu.third { width: 220px; }
        }
    }
}