// Bootstrap2, Desktop-only styles of the pinkbar
@pinkbarHeight: 50px;

#pinkbar {
  position: relative;
  margin-bottom: 3px;
  background-color: @lightpink;
  height: @pinkbarHeight;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
  .pinkbar-label {
    &:extend(.container all);
    div {
      &:extend(.row all);
      p {
        &:extend(.span12 all);
      }
    }
  }

  .pinkbar-progress {
    background-color: @darkpink;
    position: absolute;
    top: 0;
    left: 0;
    height: @pinkbarHeight;
  }

  .pinkbar-label {
    div {
      p {
        text-shadow: 1px 1px 0 fadeout(@lightpink, 15%), -1px 1px 0 fadeout(@lightpink, 15%), 1px -1px 0 fadeout(@lightpink, 15%), -1px -1px 0 fadeout(@lightpink, 15%), 1px 1px 1px fadeout(@lightpink, 15%), -1px 1px 1px fadeout(@lightpink, 15%), 1px -1px 1px fadeout(@lightpink, 15%), -1px -1px 1px fadeout(@lightpink, 15%);
        line-height: @pinkbarHeight;
        margin: 0 0 0 10px;
        font-size: 22px;
        position: relative;
      }
    }
  }
}
