{% trans_default_domain "charity" %}
{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

<div class="container">
    <div class="row">
        <div class="span12 profile-heading">
            <h2 class="pull-left">{% trans %}profile.domain.editors.headline{% endtrans %}</h2>
        </div>
    </div>
    <div class="row" data-ng-hide="domain.name">
        <div class="span12">
            <p class="text-center">{{ block('loading') }}</p>
        </div>
    </div>
    <div class="row" data-ng-show="domain.name">
        <div class="span12">
            <div class="well">
                <h2 translate="profile.domain.editors.subheadline" values="{ domain: '[[domain.name]]' }"></h2>
                <p>
                    {% trans %}profile.domain.editors.text{% endtrans %}
                    <b>{% trans %}profile.domain.editors.bold{% endtrans %}</b>
                </p>
                <div class="row-fluid-colfix-well">
                    <div class="row-fluid-colfix margin20px">

                        <!-- basic editor -->
                        <div class="span6 well">
                            <h3>{% trans %}profile.domain.editors.basic.headline{% endtrans %}</h3>
                            <p class="text-center">
                                <img src="/bundles/dothivbasewebsite/images/clickcounter.png" alt="{% trans %}profile.domain.editors.basic.imgalt{% endtrans %}">
                            </p>
                            <p><strong>{% trans %}profile.domain.editors.basic.subheadline{% endtrans %}</strong></p>
                            <p>{% trans %}profile.domain.editors.basic.text{% endtrans %}</p>
                            <ul class="pinkplusstyle">
                                {% for i in range(1,4) %}
                                    {% set adv = "profile.domain.editors.basic.advantages." ~ i %}
                                    <li>{{ adv|trans }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- premium editor -->
                        <div class="span6 well">
                            <h3>
                                {% trans %}profile.domain.editors.premium.headline.text{% endtrans %}
                                <span>{% trans %}profile.domain.editors.premium.headline.highlight{% endtrans %}</span>
                            </h3>
                            <p class="text-center">
                                <img src="/bundles/dothivbasewebsite/images/clickcounterpremium.png" alt="{% trans %}profile.domain.editors.premium.imgalt{% endtrans %}">
                            </p>
                            <p><strong>{% trans %}profile.domain.editors.premium.subheadline{% endtrans %}</strong></p>
                            <p>{% trans %}profile.domain.editors.premium.text{% endtrans %}</p>
                            <ul class="pinkplusstyle">
                                {% for i in range(1,7) %}
                                    {% set adv = "profile.domain.editors.premium.advantages." ~ i %}
                                    <li>{{ adv|trans }}</li>
                                {% endfor %}
                                <li><strong>{% trans %}profile.domain.editors.premium.advantages.highlight{% endtrans %}</strong></li>
                            </ul>
                        </div>

                    </div>
                    <div class="row-fluid-colfix margin20px">

                        <div class="span6 well">
                            <hr />
                            <p class="lead text-center"><i class="icon-clock"></i> {% trans %}profile.domain.editors.basic.time{% endtrans %}</p>
                            <div class="row-fluid">
                                <button class="span12 btn btn-primary" data-ng-click="editBasic()">{% trans %}profile.domain.editors.basic.button{% endtrans %}</button>
                            </div>
                        </div>

                        <div class="span6 well">
                            <hr />
                            <p class="lead text-center"><i class="icon-clock"></i> {% trans %}profile.domain.editors.premium.time{% endtrans %}</p>
                            <div class="row-fluid">
                                <button class="span12 btn btn-primary" data-ng-click="editPremium()" disabled>{% trans %}profile.domain.editors.premium.button{% endtrans %}</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="well">
                            <h3>
                                {% trans %}profile.domain.editors.developer.headline.text{% endtrans %}
                                <span>{% trans %}profile.domain.editors.developer.headline.highlight{% endtrans %}</span>
                            </h3>
                            <p>{% trans %}profile.domain.editors.developer.text{% endtrans %}</p>
                            <div class="row-fluid">
                                <a class="offset6 span6 btn btn-primary" href="">{% trans %}profile.domain.editors.developer.button{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
