{% trans_default_domain "registry" %}
{% use "DothivRegistryWebsiteBundle:App:blocks.html.twig" %}
{{ block('errorMessage') }}
<form role="form" name="loginForm" novalidate class="explained" data-ng-show="!submitting && !done">
    <fieldset>
        <legend>Login to an existing account</legend>
        <div class="fields">
            <div class="form-group">
                <label for="loginEmail">Email address</label>
                <input type="email" data-ng-model="loginForm.email" class="form-control" id="loginEmail" required>
            </div>
            <button type="submit" data-ng-click="submit()" data-ng-disabled="loginForm.$invalid" data-ng-show="!submitting">
                Submit
            </button>
            <input type="hidden" data-ng-model="loginForm.locale" data-ng-init="loginForm.locale='{{ locale }}'">
        </div>
        <div class="fields-legend">
            <p>Log in to your existing acount by providing your email address.</p>

            <p>We will then send you an email address with a login link.</p>
            <nav>
                <a href="{{ path('dothiv_register_nonprofit_form', {'locale': locale}) }}#!/register">I have no account!</a>
            </nav>
        </div>
    </fieldset>
</form>
<div data-ng-show="done" class="well">
    <h3>Great!</h3>

    <p>Now please check your inbox and click on the link we just send you.</p>
</div>
{{ block('progress') }}
