<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <title>{% trans %}title{% endtrans %}</title>
        {% stylesheets 'bundles/websitecharity/bootstrap-custom/custom-bootstrap.less' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset("bundles/websitecharity/images/favicon.png") }}" />
    </head>
    <body>
        <div class="container" ng-controller="HeaderController">
            <div class="row first">
                <div class="span2 hiv-logo">
                    <a href="#!/"><img src="{{ asset("bundles/websitecharity/images/dotHiv-logo.png") }}"></a>
                </div>
                <div class="span7">
                    <div class="container">
                        <div class="barmenu first">Projekte</div>
                        <div class="barmenu">Über dotHIV</div>
                        <div class="barmenu">URL registrieren</div>
                    </div>
                </div>
                <div class="span3">
                    <ul>
                        <li class="accountance" ng-show="!isAuthenticated()"><a class="hover-arrow" ng-click="login()">{% trans %}header.menu.login{% endtrans %}</a></li>
                        <li class="accountance" ng-show="!isAuthenticated()"><a class="hover-arrow" ng-click="register()">{% trans %}header.menu.register{% endtrans %}</a></li>
                        <li class="accountance" ng-show="isAuthenticated()"><a class="hover-arrow" ng-click="logout()">{% trans %}header.menu.logout{% endtrans %}</a></li>
                        <li class="accountance" ng-show="isAuthenticated()"><a class="hover-arrow" ng-click="">{% trans %}header.menu.myprofile{% endtrans %}</a></li>
                        <li class="accountance" ><a class="hover-arrow" ng-click="">{% trans %}header.menu.createproject{% endtrans %}</a></li>
                        <li class="accountance" ><a class="hover-arrow" ng-click="">{% trans %}header.menu.reportabuse{% endtrans %}</a></li>
                        <li class="accountance grey"><a class="hover-arrow" ng-click="">{% trans %}header.menu.picklanguage{% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div ui-view></div>

        {% include 'DotHivWebsiteCharityBundle:Default:app.html.twig' %}
    </body>
</html>
