<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <title>dotHIV</title>
        {% stylesheets 'bundles/websitecharity/bootstrap-custom/custom-bootstrap.less' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="container" ng-controller="headerController">
            <div class="row first">
                <div class="span2 hiv-logo">
                    <a href="#!/"><img src="{{ asset("bundles/websitecharity/images/dotHiv-logo.png") }}"></a>
                </div>
                <div class="span7">
                    header logo etc 2 
                </div>
                <div class="span3">
                    <span class="accountance" ng-show="!isAuthenticated()"><a ng-click="login()">Login</a></span><br>
                    <span class="accountance" ng-show="isAuthenticated()"><a ng-click="logout()">Logout</a></span><br>
                    <span class="accountance"><a href="#!/profile">Profil</a></span><br>
                    <span class="accountance">Projekt erstellen</span><br>
                    <span class="accountance">Missbrauch melden</span><br>
                    <span class="accountance grey">in Englisch</span>
                </div>
            </div>
        </div>

        <div ui-view></div>

        {% include 'DotHivWebsiteCharityBundle:Default:app.html.twig' %}
    </body>
</html>
