<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <title>{% trans %}title{% endtrans %}</title>
        {% stylesheets 'bundles/websitecharity/bootstrap-custom/custom-bootstrap.less' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset("bundles/websitecharity/images/favicon.png") }}" />
    </head>
    <body>
        <div class="container" ng-controller="HeaderController">
            <div class="row first">
                <div class="span2 hiv-logo">
                    <a href="#!/"><img src="{{ asset("bundles/websitecharity/images/dotHiv-logo.png") }}"></a>
                </div>
                <div class="span7">
                    <div class="container">
                        <div class="barmenu first">Projekte</div>
                        <div class="barmenu">Über dotHIV</div>
                        <div class="barmenu">URL registrieren</div>
                    </div>
                </div>
                <div class="span3">
                    <ul>
                        <li class="accountance hover-arrow" ng-show="!isAuthenticated()"><a ng-click="login()">{% trans %}header.menu.login{% endtrans %}</a></li>
                        <li class="accountance hover-arrow" ng-show="isAuthenticated()"><a ng-click="logout()">{% trans %}header.menu.logout{% endtrans %}</a></li>
                        <li class="accountance hover-arrow" ng-show="isAuthenticated()"><a href="#!/profile">{% trans %}header.menu.myprofile{% endtrans %} ([[ security.user.username ]])</a></li>
                        <li class="accountance hover-arrow" ><a ng-click="">{% trans %}header.menu.createproject{% endtrans %}</a></li>
                        <li class="accountance hover-arrow" ><a ng-click="">{% trans %}header.menu.reportabuse{% endtrans %}</a></li>
                        <li class="accountance hover-arrow grey"><a ng-click="">{%  trans %}header.menu.picklanguage{% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- adopt for mobile useage -->
        <div class="pink-bar rightside">
            <div class="pink-bar leftside text-right">
                <p>
                    <span class="pink-bar-text">{% trans %} home.pinkbar.activated {% endtrans %}</span>
                    <span class="pink-bar-text bold" id="active-money">€ 123.456</span>
                    <img class="pink-bar-image" src="{{ asset("bundles/websitecharity/images/tick-white.png") }}">
                </p>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div ui-view></div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span12 center">
                        Footer
                    </div>
                </div>
            </div>
        </footer>

        {% include 'DotHivWebsiteCharityBundle:Default:app.html.twig' %}
    </body>
</html>
