<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <title>{% trans %}title{% endtrans %}</title>
        {% stylesheets 'bundles/websitecharity/bootstrap-custom/custom-bootstrap.less' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="container" ng-controller="headerController">
            <div class="row first">
                <div class="span2 hiv-logo">
                    <a href="#!/"><img src="{{ asset("bundles/websitecharity/images/dotHiv-logo.png") }}"></a>
                </div>
                <div class="span7">
                    header logo etc 2 
                </div>
                <div class="span3">
                    <span class="accountance" ng-show="!isAuthenticated()"><a ng-click="login()">{% trans %}header.menu.login{% endtrans %}</a></span><br>
                    <span class="accountance" ng-show="!isAuthenticated()"><a ng-click="register()">{% trans %}header.menu.register{% endtrans %}</a></span><br>
                    <span class="accountance" ng-show="isAuthenticated()"><a ng-click="logout()">{% trans %}header.menu.logout{% endtrans %}</a></span><br>
                    <span class="accountance"><a href="#!/profile">{% trans %}header.menu.profile{% endtrans %}</a></span><br>
                    <span class="accountance">{% trans %}header.menu.createproject{% endtrans %}</span><br>
                    <span class="accountance">{% trans %}header.menu.reportabuse{% endtrans %}</span><br>
                    <span class="accountance grey">in Englisch</span>
                </div>
            </div>
        </div>

        <div ui-view></div>

        {% include 'DotHivWebsiteCharityBundle:Default:app.html.twig' %}
    </body>
</html>
