/src/DotHiv/WebsiteBaseBundle/Resources/public/fonts/Harmonia Sans Bold.woff
/web/bundles/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/vendor/
/bin/
/composer.phar
.settings
.project
.buildpath
/app/config/parameters.yml
.idea
/build/code-browser
/build/pdepend
/build/coverage
/build/logs
/build/api
/app/test

web/index.php
node_modules
