/src/Dothiv/BaseWebsiteBundle/Resources/public/fonts/Harmonia Sans Bold.woff
/web/bundles/
/web/css/
/web/js/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/vendor/
/bin/
/composer.phar
/.settings
/.project
/.buildpath
/app/config/parameters.yml
/.idea
/build/code-browser
/build/pdepend
/build/coverage
/build/logs
/build/api
/app/test
/node_modules
/web/index.php
/web/contentful
/app/phpunit.xml
/src/Dothiv/CharityWebsiteBundle/Resources/test_out/
/web/images
/app/attachments
/app/config/parameters_test.yml
/web/uploads
/*.sh
