language: php

php:
  - 5.6
  - 5.5
  - 5.4

before_install:
# headless testing
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  - sudo apt-get update

install:
# install apache
  - sudo apt-get install apache2
  - sudo a2enmod actions
  - sudo a2enmod rewrite
  - echo "export PATH=/home/vagrant/.phpenv/bin:$PATH" | sudo tee -a /etc/apache2/envvars > /dev/null
  - echo "$(curl -fsSL https://raw.github.com/gist/16d751c979fdeb5a14e3/gistfile1.txt)" | sudo tee /etc/apache2/conf.d/phpconfig > /dev/null
  - echo "$(curl -fsSL https://raw.github.com/gist/2eb301570ed4a1f4c33d/gistfile1.txt)" | sed -e "s,PATH,`pwd`/web,g" | sudo tee /etc/apache2/sites-available/default > /dev/null
# install php modules
  - sudo apt-get install graphicsmagick libgraphicsmagick1-dev
  - yes "" | pecl install gmagick-beta
# install java
  - sudo apt-get install openjdk-7-jre
# install nodejs
  - sudo apt-get install python-software-properties python g++ make software-properties-common
  - sudo add-apt-repository -y ppa:chris-lea/node.js
  - sudo apt-get update
  - sudo apt-get install nodejs

before_script:
# configure php
  - echo 'date.timezone = "Europe/Berlin"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - sudo service apache2 restart
# install node modules
  - npm install
# install webdrivers for protractor
#-e2e:  - ./node_modules/protractor/bin/webdriver-manager update
# install dothiv
  - cp app/config/parameters.yml.travis app/config/parameters.yml  
  - cp app/config/parameters.yml.travis app/config/parameters_test.yml
  - composer install
  - mysql -e 'create database dothiv;'
  - php app/console doctrine:schema:create
# Assets only needed for e2e tests
#-e2e: - php app/console assetic:dump --env prod
  - php app/console assets:install --env prod --symlink
  - sudo chown -R www-data app/cache app/logs
  - sudo chmod -R 777 app/cache app/logs
  - cp web/app_dev.php web/app_dev_travis.php
  - echo "<?php header('HTTP/1.0 403 Forbidden') ?>Use app.php" > web/app_dev.php

script:
# PHP testing
  - phpunit -c app
# Javascript testing
  - ./node_modules/karma/bin/karma start src/Dothiv/CharityWebsiteBundle/Resources/test/1.2/config/travis-karma.conf.js
  - ./node_modules/karma/bin/karma start src/Dothiv/BaseWebsiteBundle/Resources/test/1.2/config/travis-karma.conf.js
#-e2e: - DISPLAY=:99.0 KARMA_BIN=./node_modules/karma/bin/karma ./src/Dothiv/CharityWebsiteBundle/Resources/test/travis-e2e-test.sh

after_failure:
  - cd /home/travis/build/dothiv/dothiv/
  - sudo cat app/logs/test.log | grep CRITICAL
