a.dropdown-toggle {
    display: block;
    &:hover { text-decoration: none; }
    & i.dropdown-icon {
        margin-top: 5px;
        text-decoration: none;
        display: block;
        width: 10px;
        height: 10px;
        background: url('/bundles/websitecharity/images/small-tick-sprite.png') no-repeat;
        background-position: -20px 0;
    }
}

.dropdown-menu > li > a:hover {
    background: none;
    color: #252525;
}
