{% trans_default_domain "charity" %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <title>[[ 'title' | translate ]]</title>
        {% stylesheets '@DothivCharityWebsiteBundle/Resources/lesscss/custom-bootstrap.less' filter='cssrewrite' %}
            <link rel="stylesheet" href="/assetic{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset("bundles/dothivcharitywebsite/images/favicon.png") }}" />
    </head>
    <body style="background: url('/bundles/dothivcharitywebsite/images/squairy_light_textur.png')">
        <div class="row-fluid">
            <div class="span10 offset1">
                <h1>{% trans %}security.login.facebook.failure.headline{% endtrans %}</h1>
                {{ msg | trans }}
            </div>
        </div>
    </body>
</html>
