@headingsFontFamily: Harmonia Sans;

@font-face {
  font-family: 'Harmonia Sans';
  font-weight: bold;
  src: url('/bundles/websitebase/fonts/Harmonia%20Sans%20Bold.woff');
}

ul.pinkplusstyle {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    & li {
        background-image: url(/bundles/websitebase/images/sprites/domain-editors.png);
        background-repeat: no-repeat;
        background-position: 0px -32px;
        padding-left: 29px;
        padding-top: 0px;
        min-height: 28px;
    }

}
