#mainmenu {
  .mm-list {
    font-size: @font-size-large;
  }
}
#mainmenu-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: fadeout(@brand-primary, 20%);
}
nav.main {
  &:extend(.container);
  
  ul {
    list-style: none;
    margin: @grid-gutter-width / 2 0 @grid-gutter-width / 2 0;
    padding: 0;
  }

  button.toggle {
    .btn;
    .btn-default;
    position: fixed;
    z-index: 1000;
    top: @header-margin;
    right: @grid-gutter-width / 2;
    background-color: #f3f3f3;
    border-color: #adadad;
    span.icon-bar {
      display: block;
      width: 22px;
      height: 4px;
      border-radius: 1px;
      background-color: @brand-primary;
      margin: 4px 0;
    }
    &:hover, &:active, &:focus {
      outline: none;
      border-color: @brand-primary;
      background-color: #f3f3f3;
    }
  }
  
  button.toggle-chevron {
    display: none;
    position: absolute;
    top: @grid-gutter-width / 2 + 12px;
    left: -@grid-gutter-width / 2;
    font-size: @font-size-h4;
    color: @text-color;
    background: 0;
    border: 0;
    .registry-icon;
    span {
      &:before {
        content: "^";
      }
      &.collapsed {
        &:before {
          content: "v";
        }
      }
      &.icon-bar {
        display: none;
      }
    }
    &:hover, &:active, &:focus {
      outline: none;
    }
  }

  @media (min-width: @screen-sm-min) {
    button.toggle {
      display: none;
    }
    button.toggle-chevron {
      display: block;
    }
    position: relative;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li.section {
      float: left;
      width: 25%;
      padding: @grid-gutter-width / 4 0 @grid-gutter-width / 4 @grid-gutter-width / 2;
      margin: @grid-gutter-width / 2 @grid-gutter-width / 2 @grid-gutter-width / 2 0;
      border-left: 1px solid @btn-default-bg;
      &.first {
        border-left: none;
        padding-left: 0;
        margin-right: 0;
      }
    }

    span.title {
      font-size: @font-size-h4;
      margin: 0 0 @grid-gutter-width / 2 0;
      padding: 0;
      white-space: nowrap;
      cursor: pointer;
    }

    a {
      display: block;
    }

    a, a:visited {
      color: @text-color;
    }

    a.button {
      .btn;
      .btn-primary;
      position: absolute;
      top: @grid-gutter-width / 2 + 5px;
      right: 0;
    }

    &.collapsed {
      button.toggle-chevron {
        content: "v";
      }
      li.section {
        a {
          display: none;
        }
        h2 {
          margin-bottom: 0;
          cursor: pointer;
        }
      }
    }
  }

  @media (min-width: @screen-md-min) {
    span.title {
      font-size: @font-size-h3;
    }

    button.toggle-chevron {
      top: @grid-gutter-width / 2 + 20px;
      left: -@grid-gutter-width;
    }

    a.button {
      top: @grid-gutter-width / 2 + 10px;
    }
  }
}
