@charset "UTF-8";

@font-face {
  font-family: "registryicons";
  src: url("/css/fonts/registryicons.eot");
  src: url("/css/fonts/registryicons.eot?#iefix") format("embedded-opentype"),
  url("/css/fonts/registryicons.woff") format("woff"),
  url("/css/fonts/registryicons.ttf") format("truetype"),
  url("/css/fonts/registryicons.svg#registryicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.registry-icon {
  font-family: "registryicons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.registry-icon-left-open-big:before {
  .registry-icon;
  content: "<";
}
.registry-icon-right-open-big:before {
  .registry-icon;
  content: ">";
}
.registry-icon-down-open-big:before {
  .registry-icon;
  content: "v";
}
.registry-icon-up-open-big:before {
  .registry-icon;
  content: "^";
}
.registry-icon-left-open-mini:before {
  .registry-icon;
  content: "a";
}
.registry-icon-right-open-mini:before {
  .registry-icon;
  content: "b";
}
.registry-icon-up-open-mini:before {
  .registry-icon;
  content: "w";
}
.registry-icon-down-open-mini:before {
  .registry-icon;
  content: "s";
}
.registry-icon-clipboard:before {
  .registry-icon;
  content: "c";
}
.registry-icon-check:before {
  .registry-icon;
  content: "o";
}
