{% extends "DothivPremiumConfiguratorBundle:App:article.html.twig" %}
{% trans_default_domain "charity" %}
{% block nav %}
    {{ parent() }}
    <a rel="next" href="{{ path('dothiv_premiumconfig_page', {'domain': app.request.get('domain'), 'locale': app.request.get('locale')}) }}#!/configure" data-ng-show="isLast()">{% trans %}pc.nav.configure{% endtrans %}</a>
{% endblock nav %}
