{% trans_default_domain "charity" %}
<div class="content">
    <article>
        {% for block in  page.blocks %}
            <section data-ng-show="block == '{{ block.code }}'">
                <div class="block">
                    {% if block.title is defined %}
                        <h2>{{ block.title }}</h2>
                    {% endif %}
                    {% if block.text is defined %}
                        {{ block.text|markdown }}
                    {% endif %}
                </div>
            </section>
        {% endfor %}
        <section class="subscription" data-ng-show="block == 'pc.subscription.nosubscription'">
            <button data-ng-click="checkout()">{% trans %}pc.checkout.button{% endtrans %}</button>
            {% if stripe_testmode %}
                <h2>Test mode</h2>
                <p>Use this test card data:</p>
                <dl>
                    <dt>card number</dt>
                    <dd><code>4242424242424242</code></dd>
                    <dt>expiry date</dt>
                    <dd><code>{{ 'now'|date('m/y') }}</code></dd>
                    <dt>CV</dt>
                    <dd><code>123</code></dd>
                </dl>
            {% endif %}
        </section>
    </article>
</div>
