<script type="text/ng-template" id="/template/configurator/{{ code }}.html">
    <div id="configurator" data-ng-class="{fullscreen: fullscreen}" data-ng-style="configuratorStyle">

    </div>
</script>
