parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     dothiv
    database_user:     root
    database_password: ~
    database_path:     ~

    registry_mailer_transport:  smtp
    registry_mailer_host:       127.0.0.1
    registry_mailer_user:       ~
    registry_mailer_password:   ~
    registry_mailer_port:       25
    registry_mailer_encryption: ~
    registry_mailer_auth_mode: ~
    registry_email_from_name:    .hiv Domains
    registry_email_from_address: domains@tld.hiv

    charity_mailer_transport:  smtp
    charity_mailer_host:       127.0.0.1
    charity_mailer_user:       ~
    charity_mailer_password:   ~
    charity_mailer_port:       25
    charity_mailer_encryption: ~
    charity_mailer_auth_mode: ~
    charity_email_from_name: .hiv Initiative
    charity_email_from_address: non-profit-support@click4life.hiv

    locale:            en
    secret:            huhepUSpEpr2DReSwaqeTAT499r9traYEph33u3UH7ph3cr66AR4sTAfEduxekam

    charitydomain:     click4life.hiv
    registrydomain:    tld.hiv
    clickCounterPreviewDomainNonSSL: premium-preview.clickcounter.hiv

    facebook_app_id:   486753724803417
    facebook_app_secret: yourfacebooksecret
    facebook_page_id: 158464207529828

    twitter_widget_id: 474872109810733056
    twitter_consumer_key: notasecret
    twitter_consumer_secret: notasecret
    twitter_oauth_access_token: notasecret
    twitter_oauth_access_token_secret: notasecret

    clickcounter_auth_secret: some_password

    assets_version: 1404223225

    # Node and modules
    node_bin: /usr/bin/node
    node_modules: %kernel.root_dir%/../node_modules
    ngmin_bin: '%kernel.root_dir%/../node_modules/ngmin/bin/ngmin'

    # Contentful settings
    contenful_space_charity: xfj3l4zlkg3j
    contenful_space_registry: q9io9aidddk4
    contenful_space_clickcounter: d6rba6hzdb1o
    contenful_space_name4life_landingpage: xq0sc16solht
    contenful_webhook_password: sometoken

    # Google Analytics IDs
    googleanalytics_charity: UA-XXXX-Y
    googleanalytics_registry: UA-XXXX-Y

    # Stripe
    stripe_publishable_key: pk_test_4UBhOksBIPyBqmY3zSOaiFub
    stripe_secret_key: sk_test_4UBhr322KNAeOblSRCMIxXEU
    stripe_testmode: 1
    premium_price: 1000
    devat: 19
    payitforward_price: 16000

    # Pinkbar
    eur_goal: 61801
    already_donated: 461.61
    already_clicked: 77500
    eur_increment: 0.001

    # Podio
    dothiv_business.podio.appId: 1234
    dothiv_business.podio.appToken: 1234
    dothiv_business.podio.clientId: 1234
    dothiv_business.podio.clientSecret: 1234

    # IFrame Appliance
    clickcounter_iframe_service_url: http://iframe.clickcounter.hiv
    clickcounter_iframe_service_username: iframe-admin
    clickcounter_iframe_service_password: changeme

    # Sendwithus API
    sendwithus_apikey: live_abcdefgh
