parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     dothiv
    database_user:     root
    database_password: ~
    database_path:     ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       25
    mailer_encryption: ~
    email_from_name:    Markus from dotHIV
    email_from_address: m@tld.hiv

    locale:            en
    secret:            huhepUSpEpr2DReSwaqeTAT499r9traYEph33u3UH7ph3cr66AR4sTAfEduxekam

    charitydomain:     click4life.hiv
    registrydomain:    tld.hiv

    facebook_app_id:   486753724803417
    facebook_app_secret: yourfacebooksecret

    twitter_widget_id: 474872109810733056

    clickcounter_auth_secret: some_password

    assets_version: 1404223225

    # Node and modules
    node_bin: /usr/bin/node
    node_modules: %kernel.root_dir%/../node_modules
    ngmin_bin: '%kernel.root_dir%/../node_modules/ngmin/bin/ngmin'

    # Contentful settings
    contenful_space_charity: xfj3l4zlkg3j
    contenful_space_registry: q9io9aidddk4
    contenful_space_clickcounter: d6rba6hzdb1o
    contenful_webhook_password: sometoken

    # Google Analytics IDs
    googleanalytics_charity: UA-XXXX-Y
    googleanalytics_registry: UA-XXXX-Y

    # Stripe
    stripe_publishable_key: pk_test_4UBhOksBIPyBqmY3zSOaiFub
    stripe_secret_key: sk_test_4UBhr322KNAeOblSRCMIxXEU
    stripe_testmode: 1
    premium_price: 1000
    devat: 19

    # Money conversion
    eur_to_usd: 1.328515

    # Pinkbar
    eur_goal: 61801
    already_donated: 0
    eur_increment: 0.001

    # Podio
    dothiv_business.podio.appId: 1234
    dothiv_business.podio.appToken: 1234
    dothiv_business.podio.clientId: 1234
    dothiv_business.podio.clientSecret: 1234
