parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     dothiv
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en_US
    secret:            huhepUSpEpr2DReSwaqeTAT499r9traYEph33u3UH7ph3cr66AR4sTAfEduxekam

    charitydomain:     localhost
    companydomain:     registry.hiv

    facebook_app_id:   1234
    facebook_app_secret: yourfacebooksecret

    dns_reseller:      dd24_reseller
    dns_password:      dd24_password
    dns_cid:           dd24_cid
    dns_nameserver:    dd24_nameserver

    #
    # PARAMETERS USED IN DEV MODE
    #

    # use this directive to set the recipient of local mail
    luser:  your_unix_user_name
