{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

{{ block('cf_contentBlock') }}
<div class="fb-like-box" data-href="https://www.facebook.com/dothiv" data-width="520" data-height="520" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
