{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

{{ block('cf_contentBlock') }}
<!-- SocialBoard Start -->
<script type="text/javascript">if(!window.jQuery){document.write('<script src="//thesocialboard.com/app/js/jquery-1.9.1.js"><\/script>');}</script><link href="//fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"><link href="//thesocialboard.com/app/css/board/style.css" type="text/css" rel="stylesheet"><link href="//thesocialboard.com/app/css/board/embed.css" type="text/css" rel="stylesheet"><script src="//bit.ly/javascript-api.js?version=latest&login=thesocialboard&apiKey=R_6366fd1a867e4735aac6ae4b04d0b33f" type="text/javascript" charset="utf-8"></script><script src="//thesocialboard.com/app/js/board/jquery.masonry.js" type="text/javascript"></script><script src="//thesocialboard.com/app/js/board/libs.min.js" type="text/javascript"></script><script type="text/javascript">vkSbHandler.host_url="//thesocialboard.com";vkSbHandler.board_id=73;vkSbHandler.api_key="155be756578bbd92bd23030d494d41a7";vkSbHandler.page=0;vkSbHandler.external_request=true;</script><script src="//thesocialboard.com/app/js/board/init.min.js" type="text/javascript"></script><script src="//thesocialboard.com/app/js/board/jquery.xdomain.js" type="text/javascript"></script><div id="vk-sb-master"></div>
<!-- SocialBoard End -->
