{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

{{ block('cf_contentBlock') }}
<a class="twitter-timeline" href="https://twitter.com/dotHIV" data-widget-id="{{ twitter_widget_id }}" data-chrome="nofooter noheader transparent">Tweets by @dotHIV</a>
