// Grid
body > header {
  position: fixed;
  background-color: @body-bg;
  border-bottom: 1px solid @gray-lighter;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  top: 0;
  left: 0;
  width: 100%;
  height: @header-height-mobile;
  &:extend(.container all);
  & > div {
    &:extend(.row all);
  }
  nav {
    .make-xs-column(12);
    a.button {
      &:extend(.btn all);
      &:extend(.btn-primary all);
    }
  }
  div.logo {
    .make-xs-column(12);
  }

  /*
  div.logo {
    .make-sm-column(5);
  }


  nav.main {
    .make-sm-column(7);

    @media (min-width: @screen-sm-min) {
      text-align: right;
      margin-top: 60px;
      a {
        display: inline-block;
        margin: 0 0 0 @grid-gutter-width;
      }

      a.button {
        margin-bottom: 1em;
      }
    }
  }
  */
  /*
  nav.meta {
    @media (min-width: @screen-sm-min) {
      text-align: right;
      position: absolute;
      top: @grid-gutter-width / 4;
      right: 0;
      font-size: @font-size-small;
      a {
        display: inline-block;
        border-left: 1px solid @gray-light;
        padding: 0 @grid-gutter-width / 4;
        margin: 0;
        &:first-child {
          padding-left: 0;
          border: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  */
}

// Design
body > header {
  h1 {
    margin: 0;
    position: relative;
    img {
      width: 60px;
    }
    small {
      font-size: 0.4em;
      position: absolute;
      left: 60px + (@grid-gutter-width / 4);
      bottom: -2px;
    }
    /*
    @media (min-width: @screen-md-min) {
      margin-top: 0;
      img {
        width: 120px;
      }

      small {
        left: 120px + (@grid-gutter-width / 2);
        bottom: -4px;
      }
    }
    */
  }
  button.toggle {
    &:extend(.btn all);
    &:extend(.btn-primary all);
    position: absolute;
    right: @grid-gutter-width / 4;
    top: @grid-gutter-width / 4;
    span.icon-bar {
      display: block;
      width: 22px;
      height: 4px;
      border-radius: 1px;
      background-color: @btn-primary-color;
      margin: 4px 0;
    }
  }
  // Expanded mobile navigation
  div.navigation {
    display: none;
  }
  &.expanded {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: @body-bg;
    z-index: 2000;
    div.navigation {
      display: block;
      margin-top: @header-height-mobile;
      a {
        display: block;
        line-height: 1em;
        margin-bottom: 1em;
      }
      nav {
        border-top: 1px solid mix(@gray-lighter, @gray-light);
        padding-top: (@grid-gutter-width / 2);
      }
    }
    div.close-target {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    button.toggle {
      background-color: @btn-primary-color;
      span.icon-bar {
        background-color: @btn-primary-bg;
      }
    }
  }
}

