@font-size-base: 16px;
@headings-font-weight: 600;
@text-font-weight: 400;
@btn-font-weight: 600;
@brand-primary: #e00073;
@link-color: darken(@brand-primary, 10%);
@container-lg: @container-desktop;
@icon-font-path: '/css/fonts/';

// Ours.
@header-height-mobile: 60px;
