<h3 translate="about.fororg.headline"></h3>
<p translate="about.fororg.text"></p>

<div class="anchor-dummy"></div>
<a name="apply"></a>
<h3 translate="about.charitydomain.headline"></h3>
<dh-teaser prefix="about.charitydomain"></dh-teaser>

<div class="anchor-dummy"></div>
<a name="guidelines"></a>
<h3 translate="about.guidelines.headline"></h3>
<p translate="about.guidelines.text"></p>

<div class="anchor-dummy"></div>
<a name="expertpool"></a>
<h3 translate="about.expertpool.headline"></h3>
<p translate="about.expertpool.text"></p>
