<h3 translate="about.newsstream.headline"></h3>

<p>TODO</p>

<div class="heading-arrow"></div>
<a href="#!/about/newsstream/newsarchive" translate="about.newsstream.archive"></a>

<h3 translate="about.inthenews.headline" id="inthenews"></h3>

<p>TODO</p>

<div class="heading-arrow"></div>
<a href="#!/about/newsstream/inthenews" translate="about.inthenews.archive"></a>

<h3 translate="about.socialmedia.headline" id="socialmedia"></h3>
<p translate="about.socialmedia.text"></p>
<h4 translate="about.socialmedia.facebook"></h4>
<div class="fb-like-box" data-href="https://www.facebook.com/dothiv" data-width="700" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
<h4 translate="about.socialmedia.twitter"></h4>
<a class="twitter-timeline" href="https://twitter.com/dotHIV" data-widget-id="444251676346556416">Tweets by @dotHIV</a>
