<h3 translate="about.whoisbehind.headline"></h3>
<p translate="about.whoisbehind.text"></p>

<div class="anchor-dummy"></div>
<a name="team"></a>
<h3 translate="about.team.headline"></h3>
<p translate="about.team.text"></p>
<div class="row-fluid">
    <div class="span6">
        <h4 translate="about.team.charity.headline"></h4>
        <div class="row-fluid">
            <div class="span3" ng-repeat="i in [1,2,3,4]">
                <p translate="about.team.charity.member[[i]].picture"></p>
                <p translate="about.team.chairty.member[[i]].name"></p>
                <p translate="about.team.charity.member[[i]].affiliation"></p>
            </div>
        </div>
    </div>
    <div class="span6">
        <h4 translate="about.team.company.headline"></h4>
        <div class="row-fluid">
            <div class="span3" ng-repeat="i in [1,2,3,4]">
                <p translate="about.team.company.member[[i]].picture"></p>
                <p translate="about.team.company.member[[i]].name"></p>
                <p translate="about.team.company.member[[i]].affiliation"></p>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span4" ng-repeat="i in [1,2,3]">
        <p translate="about.team.communication.member[[i]].picture"></p>
        <p translate="about.team.communication.member[[i]].name"></p>
        <p translate="about.team.communication.member[[i]].affiliation"></p>
    </div>
</div>
<div class="heading-arrow" ng-hide="showAlumni"></div><a ng-hide="showAlumni" ng-click="showAlumni=true" href="">[[ 'about.team.dropdown' | translate ]]</a>
<div ng-show="showAlumni"><p translate="about.team.alumi"></p></div>

<div class="anchor-dummy"></div>
<a name="partnersupporter"></a>
<h3 translate="about.partnersupporter.headline"></h3>
<p translate="about.partnersupporter.text"></p>
<div class="row-fluid">
    <div class="span12">
        <h4 class="pull-left" translate="about.partner.secondheadline"></h4>
        <div class="next2h3 pull-right">
            <button class="scroll" ng-click="partner = partner+1;"><i class="icon-tick-left"></i></button>
            <button class="scroll" ng-click="partner = partner-1"><i class="icon-tick-right"></i></button>
        </div>
    </div>
</div>
<p translate="about.partner.text"></p>
<div class="row-fluid">
    <div class="span3" ng-repeat="i in (partners | carousel: partner | limitTo: 4)">
        <a href="#">
            <p translate="about.partner.partner[[i]].link"></p>
        </a>
        <p translate="about.partner.partner[[i]].cutline"></p>
    </div>
</div>
<h4 translate="about.supporter.headline"></h4>
<p translate="about.supporter.text"></p>
<div class="row-fluid" ng-repeat="j in [0,1,2,3]"> <!-- rows -->
    <div class="span2" ng-repeat="i in [1,2,3,4,5,6]"> <!-- cols -->
        <p translate="about.supporter.supporter[[i+j*6]].link"></p>
    </div>
</div>
<div class="heading-arrow" ng-hide="showMoreSupporters"></div><a ng-hide="showMoreSupporters" ng-click="showMoreSupporters=true" href="">[[ 'about.supporter.dropdown' | translate ]]</a>
<div ng-show="showMoreSupporters">
    <div class="row-fluid" ng-repeat="j in [0,1]"> <!-- rows -->
        <div class="span2" ng-repeat="i in [1,2,3,4,5,6]"> <!-- cols -->
            <p translate="about.supporter.more.name[[i*j*6]]"></p>
        </div>
    </div>
</div>

<div class="anchor-dummy"></div>
<a name="board"></a>
<h3 translate="about.board.headline"></h3>
<p translate="about.board.text"></p>
<div class="row-fluid">
    <div class="span4" ng-repeat="i in [1,2,3]">
        <p translate="about.board.board[[i]].name"></p>
        <p translate="about.board.board[[i]].text"></p>
    </div>
</div>

<div class="anchor-dummy"></div>
<a name="heavystuff"></a>
<h3 translate="about.heavystuff.headline"></h3>
<p translate="about.heavystuff.text"></p>
<img src="http://dummyimage.com/950x300/ccc/fff" alt="[[ 'about.association.graphic' | translate ]]">
