article.clickstart {
  section {
    text-align: center;
  }
  a.winner {
    display: inline-block;
    width: 33%;
    @media (min-width: @screen-md-min) {
      width: 19%;
    }
    text-align: center;
    margin: 1em 0;
    img.winner {
      width: 100%;
    }
  }
}
