article.pressquotes {
  blockquote {
    padding: 2em 0 0 0;
    font-size: @font-size-base;
    @media (min-width: @screen-sm-min) {
      padding: 0 20% 0 0;
      margin-top: 2em;
    }
    margin: 0;
    border: 0;
    text-align: left;
    position: relative;
    &:before {
      &:extend(.charity-icon-quote:before);
      font-size: @font-size-h1;
      color: fadeout(@text-color, 85);
      position: absolute;
      top: 15px;
      left: -25px;
      @media (min-width: @screen-sm-min) {
        top: -10px;
        left: -45px;
      }
    }
  }
  a.logo {
    img.logo {
      display: none;
      width: 50%;
      @media (min-width: @screen-sm-min) {
        display: inline-block;
      }
    }
  }
}
