article.pressquotes {
  blockquote {
    padding: 2em 0 0 0;
    font-size: @font-size-base;
    @media (min-width: @screen-sm-min) {
      padding: 0 20% 0 0;
      margin-top: 2em;
    }
    margin: 0;
    border: 0;
    text-align: left;
    position: relative;
    &:before {
      &:extend(.charity-icon-quote:before);
      font-size: @font-size-h1;
      color: fadeout(@text-color, 85);
      position: absolute;
      top: 5px;
      left: -25px;
      @media (min-width: @screen-sm-min) {
        top: -10px;
        left: -45px;
      }
    }
  }
  a.logo {
    img.logo {
      width: 25%;
      display: none;
      @media (min-width: @screen-sm-min) {
        width: 50%;
        display: inline-block;
        max-width: 125px;
      }
    }
  }
  section.logosonly {
    margin-top: 2em;
  }
  @media (max-width: @screen-xs-max) {
    section.logosonly {
      text-align: center;
      div {
        display: inline-block;
        margin-right: @grid-gutter-width / 2;
        width: 25%;
      }
      a.logo {
        img.logo {
          display: inline-block;
          width: 100%;
        }
      }
    }
  }
}
