.highlight-deal {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  margin-bottom: 2em;
  margin-top: 1em;

  .ribbon {
    position: absolute;
    top: 18px;
    left: -55px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    transform: rotate(-45deg);
    h3 {
      text-transform: uppercase;
      font-size: @font-size-small;
      font-weight: @font-weight-bold;
      text-align: center;
      margin: 0.25em 4em;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    }
  }
  .logo {
    @media (min-width: @screen-xs-min) {
      width: 40%;
      .pull-left;
    }
    text-align: center;
    img {
      width: 80%;
      margin-top: @grid-gutter-width;
    }
  }

  .info {
    .pull-left;
    width: 50%;
    @media (min-width: @screen-xs-min) {
      width: 30%;
    }
    margin-top: @grid-gutter-width;
    padding-left: (@grid-gutter-width / 2);
    a.name {
      font-weight: @font-weight-bold;
      color: @color-pink;
    }
    p {
      font-size: @font-size-small;
    }
  }
  .buy {
    .pull-left;
    width: 50%;
    @media (min-width: @screen-xs-min) {
      width: 30%;
    }
    text-align: right;
    margin-bottom: @grid-gutter-width / 2;
    .price {
      font-size: @font-size-h3 * 2;
      font-weight: @font-weight-bold;
      margin-right: @grid-gutter-width / 2;
    }
    .button {
      &:extend(.btn all);
      &:extend(.btn-primary all);
      margin-right: @grid-gutter-width / 2;
    }
  }
}

.registrar-list-module {
  margin-top: 2em;

  table {
    &:extend(.table all);
    tbody {
      tr {
        td {
          vertical-align: middle;
          a.button {
            &:extend(.btn all);
            &:extend(.btn-primary all);
          }
          img.logo {
            width: 20%;
            margin-right: @grid-gutter-width / 2;
            display: none;
            @media (min-width: @screen-sm-min) {
              display: inline-block;
            }
          }
          a.name {
            white-space: nowrap;
          }
        }
      }
    }
    thead {
      tr {
        th {
          white-space: nowrap;
        }
        a.sort {
        }
      }
    }
    td, th {
      &.price {
        text-align: right;
        font-weight: @font-weight-bold;
      }
      &.button {
        text-align: right;
      }
      p.promotion {
        margin: 0;
        font-size: @font-size-small;
      }
    }
    thead {
      span.order-icons {
        position: relative;
        display: inline-block;
        height: 20px;
        vertical-align: text-bottom;
        i {
          font-size: 0.5em;
          position: absolute;
          left: 0;
        }
      }
      i.order-down {
        .glyphicon;
        .glyphicon-chevron-down;
        bottom: 0;
        top: inherit;
      }
      i.order-up {
        .glyphicon;
        .glyphicon-chevron-up;
        top: 0;
      }
      i {
        opacity: 0.25;
        color: #000000;
        &.active {
          opacity: 1;
          color: @brand-primary;
        }
      }
      select {
        &:extend(.form-control all);
        &:extend(.input-sm all);
        display: inline-block;
        width: 70px;
        margin-left: @grid-gutter-width / 2;
      }
    }
  }

  .priceleader-deal {
    &:extend(.highlight-deal all);
    border: 2px solid @brand-primary;
    .ribbon {
      background-color: @brand-primary;
      h3 {
        color: @brand-primary-foreground;
      }
    }
    .logo {
      @media (min-width: @screen-xs-min) {
        width: 70%;
        img {
          width: 42%;
          .pull-right;
        }
      }
    }
    .info {
      display: none;
    }
    .buy {
      .pull-right;
    }
  }
  .preferred-deal {
    &:extend(.highlight-deal all);
    border: 2px solid @color-pink;
    .ribbon {
      background-color: @color-pink;
      h3 {
        color: @color-pink-foreground;
      }
    }
    .buy {
      .button {
        &:extend(.btn-pink all);
      }
    }
  }
}

