<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.concepts.headline"></h1>

            <p class="running-text" translate="gmbh.concepts.desc"></p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <img src="http://dummyimage.com/200x150/ccc/fff" alt="[[ 'gmbh.concepts.bsp1.title' | translate ]]">
        </div>
        <div class="span4">
            <h2 translate="gmbh.concepts.bsp1.title"></h2>

            <p class="running-text" translate="gmbh.concepts.bsp1.text"></p>

            <p class="pull-right">
                <a class href="#">[[ 'gmbh.concepts.bsp1.url'|translate ]]<span class="heading-arrow"></span></a>
            </p>
        </div>
        <div class="span2">
            <img src="http://dummyimage.com/200x150/ccc/fff" alt="[[ 'gmbh.concepts.bsp2.title' | translate ]]">
        </div>
        <div class="span4">
            <h2 translate="gmbh.concepts.bsp2.title"></h2>

            <p class="running-text" translate="gmbh.concepts.bsp2.text"></p>

            <p class="pull-right">
                <a class href="#">[[ 'gmbh.concepts.bsp2.url'|translate ]]<span class="heading-arrow"></span></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="pull-right">
                <a class="btn btn-primary" href="#!/register"> [[ 'gmbh.concepts.button' | translate ]] </a>
            </p>
        </div>
    </div>
</div>
