<div class="container concept">
    <div class="row">
        <div class="span12 headline">
            <h2>[[ 'gmbh.concepts.headline' | translate ]]</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="running-text">[[ 'gmbh.concepts.desc' | translate ]] Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <img src="/bundles/dothivwebsitecompany/images/thjnk.png"></img>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h5 class="pull-left">[[ 'gmbh.concepts.thjnk' | translate ]]</h5>            
            <a class="next2h5 pull-right" href="#!/">
                [[ 'gmbh.concepts.thjnkurl' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <p class="running-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        </div>
        <div class="span4">
            <p class="running-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        </div>
        <div class="span4">
            <p class="running-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        </div>        

    </div>
</div>
