<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.imprint.headline"></h1>

            <h2 translate="gmbh.imprint.name"></h2>

            <p>
                <span translate="gmbh.imprint.street"></span><br>
                <span translate="gmbh.imprint.location"></span><br>
                <span translate="gmbh.imprint.country"></span>
            </p>

            <p>
                [[ 'gmbh.imprint.phone' | translate ]]<br>
                [[ 'gmbh.imprint.fax' | translate ]]
            </p>

            <p>
                <a href="mailto:[[ 'gmbh.imprint.email' | translate ]]">[[ 'gmbh.imprint.email' | translate ]]</a><br>
                <a href="[[ 'gmbh.imprint.website' | translate ]]">[[ 'gmbh.imprint.website' | translate ]]</a><br>
            </p>

            <p translate="gmbh.imprint.legal"></p>

        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.imprint.privacy.headline"></h2>

            <p translate="gmbh.imprint.privacy.text"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.imprint.terms.headline"></h2>

            <p translate="gmbh.imprint.terms.text"></p>
        </div>
    </div>
</div>
