<div class="container content">
    <div class="row">
        <div class="span12 headline">
            <h2 translate="gmbh.launch.headline"></h2>
        </div>
        <div class="span12">
            <p class="running-text" translate="gmbh.launch.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <img src="http://dummyimage.com/940x290/ccc/fff" alt="[[ 'gmbh.launch.headline' | translate ]]">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="running-text" translate="gmbh.launch.text2"></p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <a class="next2h5" href="#!/register">
                [[ 'gmbh.launch.link.register' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
        <div class="span4">
            <a class="next2h5" href="#!/">
                [[ 'gmbh.launch.link.registrars' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
        <div class="span4">
            <a class="next2h5" href="#!/">
                [[ 'gmbh.launch.link.policies' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>
</div>
