<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.policies.headline"></h1>
            <p class="running-text" translate="gmbh.policies.text1"></p>
        </div>
    </div>

    <div class="row">
        <!-- Launch -->
        <div class="span6">
            <h2 translate="gmbh.policies.launch.secondheadline"></h2>
            <p class="running-text" translate="gmbh.policies.launch.text"></p>
            <h3 translate="gmbh.policies.launch.textbold1"></h3>
            <dh-teaser prefix="gmbh.policies.launch.expand1"></dh-teaser>

            <h3 translate="gmbh.policies.launch.textbold2"></h3>
            <dh-teaser prefix="gmbh.policies.launch.expand2"></dh-teaser>

            <h3 translate="gmbh.policies.launch.textbold3"></h3>
            <dh-teaser prefix="gmbh.policies.launch.expand3"></dh-teaser>

            <h3 translate="gmbh.policies.launch.textbold4"></h3>
            <dh-teaser prefix="gmbh.policies.launch.expand4"></dh-teaser>

            <h3 translate="gmbh.policies.launch.textbold5"></h3>
            <dh-teaser prefix="gmbh.policies.launch.expand5"></dh-teaser>

            <p class="running-text">
                <a href="#" translate="gmbh.policies.launch.link"></a>
            </p>
        </div>
        <!-- Abuse -->
        <div class="span6">
            <h2 translate="gmbh.policies.abuse.secondheadline"></h2>
            <p class="running-text" translate="gmbh.policies.abuse.text"></p>
            <!-- TODO: Image gmbh.policies.abuse.graphic -->
            <h3 translate="gmbh.policies.abuse.textbold1"></h3>
            <dh-teaser prefix="gmbh.policies.abuse.expand1"></dh-teaser>

            <p class="running-text">
                <a href="#" translate="gmbh.policies.abuse.trademark.link"></a>
            </p>

            <h3 translate="gmbh.policies.abuse.textbold2"></h3>
            <dh-teaser prefix="gmbh.policies.abuse.expand2"></dh-teaser>

            <h3 translate="gmbh.policies.abuse.textbold3"></h3>
            <dh-teaser prefix="gmbh.policies.abuse.expand3"></dh-teaser>

            <h3 translate="gmbh.policies.abuse.textbold4"></h3>
            <dh-teaser prefix="gmbh.policies.abuse.expand4"></dh-teaser>

            <p class="running-text">
                <a href="#" translate="gmbh.policies.abuse.link"></a>
            </p>
        </div>
    </div>

    <!-- Registry Agreement -->

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.policies.RA.secondheadline"></h2>
            <p class="running-text" translate="gmbh.policies.RA.text"></p>
            <p class="running-text">
                <a href="#" translate="gmbh.policies.RA.link"></a>
            </p>
        </div>
    </div>

</div>
