<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.idea.headline"></h1>

            <p class="running-text" translate="gmbh.idea.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <img src="http://dummyimage.com/950x300/ccc/fff" alt="[[ 'gmbh.idea.headline' | translate ]]">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.idea.secondheadline1"></h2>
        </div>

        <div class="span12">
            <p class="running-text" translate="gmbh.idea.text2"></p>
        </div>
        <div class="span12">
            <a class="pull-right" href="{{ charitydomain }}"> [[ 'gmbh.idea.link.charity' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.idea.secondheadline2"></h2>

            <p class="running-text" translate="gmbh.idea.text3"></p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <p><img src="http://dummyimage.com/250x150/ccc/fff" alt="[[ 'gmbh.idea.advantage.left' | translate ]]"></p>
            <p class="running-text" translate="gmbh.idea.advantage.left">
        </div>
        <div class="span4">
            <p><img src="http://dummyimage.com/250x150/ccc/fff" alt="[[ 'gmbh.idea.advantage.middle' | translate ]]"></p>
            <p class="running-text" translate="gmbh.idea.advantage.middle">
        </div>
        <div class="span4">
            <p><img src="http://dummyimage.com/250x150/ccc/fff" alt="[[ 'gmbh.idea.advantage.right' | translate ]]"></p>
            <p class="running-text" translate="gmbh.idea.advantage.right">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="pull-right">
                <a class="btn btn-primary" href="#!/register"> [[ 'gmbh.idea.advantage.link' | translate
                    ]] </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.idea.secondheadline3"></h2>

            <p class="running-text" translate="gmbh.idea.text4"></p>
        </div>
        <div class="span12">
            <a class="pull-right" href="#!/policies"> [[ 'gmbh.idea.policies.link' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>

</div>
