<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.registrarslist.headline"></h1>

            <p class="running-text" translate="gmbh.registrarslist.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <a href="#">
                <img src="http://dummyimage.com/200x100/ccc/fff" alt="">
            </a>
        </div>
        <div class="span3">
            <a href="#">
                <img src="http://dummyimage.com/200x100/ccc/fff" alt="">
            </a>
        </div>
        <div class="span3">
            <a href="#">
                <img src="http://dummyimage.com/200x100/ccc/fff" alt="">
            </a>
        </div>
        <div class="span3">
            <a href="#">
                <img src="http://dummyimage.com/200x100/ccc/fff" alt="">
            </a>
        </div>
    </div>

</div>
