<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.registry.headline"></h1>

            <p class="running-text" translate="gmbh.registry.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <img src="http://dummyimage.com/950x300/ccc/fff" alt="[[ 'gmbh.registry.headline' | translate ]]">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.registry.secondheadline1"></h2>

            <p class="running-text" translate="gmbh.registry.text2"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.registry.secondheadline2"></h2>

            <p class="running-text" translate="gmbh.registry.text3"></p>
        </div>
        <div class="span12">
            <a class="pull-right" href="#"> [[ 'gmbh.registry.links.contract' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.registry.secondheadline3"></h2>

            <p class="running-text" translate="gmbh.registry.text4"></p>

        </div>
        <div class="span12">
            <a class="pull-right" href="#"> [[ 'gmbh.registry.links.report' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.registry.secondheadline4"></h2>

            <p class="running-text" translate="gmbh.registry.text5"></p>

        </div>
        <div class="span12">
            <a class="pull-right" href="#"> [[ 'gmbh.registry.links.funds' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>
</div>
