<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.nonprofit.headline"></h1>

            <p class="running-text" translate="gmbh.nonprofit.text1"></p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.nonprofit.secondheadline1"></h2>
            <dh-teaser prefix="gmbh.nonprofit.expand1"></dh-teaser>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.nonprofit.secondheadline2"></h2>
            <dh-teaser prefix="gmbh.nonprofit.expand2"></dh-teaser>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.nonprofit.bewerbung.headline"></h2>

            <p class="running-text" translate="gmbh.nonprofit.bewerbung.text1"></p>

            <h3 translate="gmbh.nonprofit.bewerbung.secondheadline"></h3>

            <p class="running-text" translate="gmbh.nonprofit.bewerbung.terms.text1"></p>

            <ol>
                <li translate="gmbh.nonprofit.bewerbung.terms.bullet1"></li>
                <li translate="gmbh.nonprofit.bewerbung.terms.bullet2"></li>
                <li translate="gmbh.nonprofit.bewerbung.terms.bullet3"></li>
            </ol>

            <p class="running-text" translate="gmbh.nonprofit.bewerbung.terms.text2"></p>

            <p class="running-text" translate="gmbh.nonprofit.bewerbung.terms.text3"></p>

            <ol>
                <li translate="gmbh.nonprofit.bewerbung.terms.bullet4"></li>
                <li translate="gmbh.nonprofit.bewerbung.terms.bullet5"></li>
                <li translate="gmbh.nonprofit.bewerbung.terms.bullet6"></li>
            </ol>

            <p class="running-text" translate="gmbh.nonprofit.bewerbung.terms.text4"></p>

            <p>
                <a href="#!/policies" class="pull-right"> [[ 'gmbh.nonprofit.bewerbung.link.policies' | translate ]]
                    <span class="heading-arrow"></span> </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3">
            <form method="POST">
                <h3 translate="gmbh.nonprofit.bewerbung.antrag.headline"></h3>
                <fieldset>
                    <legend translate="gmbh.nonprofit.bewerbung.antrag.contact"></legend>

                    <p>
                        <label for="nonprofit-contact-name" translate="gmbh.nonprofit.bewerbung.antrag.name"></label>
                        <input required type="text" name="contact-name" id="nonprofit-contact-name">
                    </p>

                    <p>
                        <label for="nonprofit-contact-email" translate="gmbh.nonprofit.bewerbung.antrag.email"></label>
                        <input required type="email" name="contact-email" id="nonprofit-contact-email">
                    </p>

                    <p>
                        <label for="nonprofit-contact-position" translate="gmbh.nonprofit.bewerbung.antrag.position"></label>
                        <input required type="text" name="contact-position" id="nonprofit-contact-position">
                    </p>
                </fieldset>
                <fieldset>
                    <legend translate="gmbh.nonprofit.bewerbung.antrag.secondheadline"></legend>
                    <p>
                        <label for="nonprofit-name" translate="gmbh.nonprofit.bewerbung.antrag.name"></label>
                        <input required type="text" name="name" id="nonprofit-name">
                    </p>

                    <p>
                        <label for="nonprofit-email" translate="gmbh.nonprofit.bewerbung.antrag.email"></label>
                        <input required type="email" name="email" id="nonprofit-email">
                    </p>

                    <p>
                        <label for="nonprofit-website" translate="gmbh.nonprofit.bewerbung.antrag.website"></label>
                        <input required type="url" name="website" id="nonprofit-website">
                    </p>

                    <p>
                        <label for="nonprofit-upload" translate="gmbh.nonprofit.bewerbung.antrag.upload"></label>
                        <input required type="file" name="upload" id="nonprofit-upload">
                    </p>

                    <p>
                        <label for="nonprofit-street" translate="gmbh.nonprofit.bewerbung.antrag.street"></label>
                        <input required type="text" name="street" id="nonprofit-street">
                    </p>

                    <p>
                        <label for="nonprofit-location" translate="gmbh.nonprofit.bewerbung.antrag.location"></label>
                        <input required type="text" name="location" id="nonprofit-location">
                    </p>

                    <p>
                        <label for="nonprofit-phone" translate="gmbh.nonprofit.bewerbung.antrag.phone"></label>
                        <input required type="tel" name="phone" id="nonprofit-phone">
                    </p>

                    <p>
                        <label for="nonprofit-fax" translate="gmbh.nonprofit.bewerbung.antrag.fax"></label>
                        <input required type="tel" name="fax" id="nonprofit-fax">
                    </p>

                    <p>
                        <label for="nonprofit-country" translate="gmbh.nonprofit.bewerbung.antrag.country"></label>
                        <select name="country" id="nonprofit-country">
                            <option>…</option>
                        </select>
                    </p>

                </fieldset>

                <fieldset>
                    <legend translate="gmbh.nonprofit.bewerbung.antrag.secondheadline3"></legend>
                    <p>
                        <label for="nonprofit-sector" translate="gmbh.nonprofit.bewerbung.antrag.sector.label"></label>
                        <select name="sector" id="nonprofit-sector" required>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option1"></option>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option2"></option>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option3"></option>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option4"></option>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option5"></option>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option6"></option>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option7"></option>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option8"></option>
                            <option translate="gmbh.nonprofit.bewerbung.antrag.sector.option9"></option>
                        </select>
                    </p>

                    <p>
                        <label for="nonprofit-about" translate="gmbh.nonprofit.bewerbung.antrag.about"></label>
                        <textarea required id="nonprofit-about"></textarea>
                    </p>

                </fieldset>

                <fieldset>
                    <legend translate="gmbh.nonprofit.bewerbung.antrag.hiv"></legend>

                    <p>
                        <small translate="gmbh.nonprofit.bewerbung.antrag.footnote"></small>
                    </p>

                    <p>
                        <label for="nonprofit-domain" translate="gmbh.nonprofit.bewerbung.antrag.domain"></label>
                        <input required type="url" name="domain" id="nonprofit-domain">
                    </p>

                    <p>
                        <label for="nonprofit-usage" translate="gmbh.nonprofit.bewerbung.antrag.usage"></label>
                        <textarea required id="nonprofit-usage"></textarea>
                    </p>

                </fieldset>

                <fieldset>
                    <legend translate="gmbh.nonprofit.bewerbung.antrag.agbs.headline"></legend>

                    <p>klickt auf den Link um die AGBs für deine dotHIV non-profit Domain zu lesen und stimmt ihnen anschließend zu</p>

                    <p>
                        <label>
                            <input type="checkbox" name="terms" id="nonprofit-terms" required>
                            <a href="#!/agb">AGBS</a>
                        </label>
                    </p>

                    <button class="btn btn-primary pull-right" type="submit" translate="gmbh.nonprofit.bewerbung.button"></button>
                </fieldset>
            </form>

        </div>
    </div>

</div>
