<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.stats.headline"></h1>

            <p class="running-text" translate="gmbh.stats.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <h2>2014</h2>
            <ul>
                <li><a href="#">[[ 'gmbh.stats.listbull' | translate ]] 2014/1</a></li>
                <li><a href="#">[[ 'gmbh.stats.listbull' | translate ]] 2014/2</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.stats.secondheadline1"></h2>

            <p class="running-text" translate="gmbh.stats.text2"></p>
        </div>
        <div class="span12">
            <p class="pull-right">
                <a href="#"> [[ 'gmbh.stats.button.idn' | translate ]]
                    <span class="heading-arrow"></span></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.stats.secondheadline2"></h2>

            <p class="running-text" translate="gmbh.stats.text3"></p>
        </div>
        <div class="span12">
            <p class="pull-right">
                <a class href="https://czds.icann.org/"> [[ 'gmbh.stats.link.czds' | translate
                    ]]
                    <span class="heading-arrow"></span>
                </a>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.stats.secondheadline3"></h2>

            <p class="running-text" translate="gmbh.stats.text4"></p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <img src="http://dummyimage.com/100x75/ccc/fff" alt="" class="pull-right">
        </div>
        <div class="span4">
            <p class="running-text" translate="gmbh.stats.logos.left.text"></p>
            <p class="pull-right">
                <a class href="#" translate="gmbh.stats.logos.left.link"></a>
            </p>
        </div>
        <div class="span2">
            <img src="http://dummyimage.com/100x75/ccc/fff" alt="" class="pull-right">
        </div>
        <div class="span4">
            <p class="running-text" translate="gmbh.stats.logos.right.text"></p>
            <p class="pull-right">
                <a class href="#" translate="gmbh.stats.logos.right.link"></a>
            </p>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th translate="gmbh.stats.pr.date"></th>
                    <th translate="gmbh.stats.pr.title"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01.06.2014</td>
                    <td>Lorem Ipsum</td>
                    <td><a href="#" translate="gmbh.stats.pr.download" class="pull-right"></a></td>
                </tr>
                <tr>
                    <td>01.06.2014</td>
                    <td>Lorem Ipsum</td>
                    <td><a href="#" translate="gmbh.stats.pr.download" class="pull-right"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
