<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.supportus.headline"></h1>

            <p class="running-text" translate="gmbh.supportus.text"></p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <p class="pull-right">
                <a class="btn btn-primary" href="{{ charitydomain }}"> [[ 'gmbh.supportus.button' | translate
                    ]] </a>
            </p>
        </div>
    </div>

</div>
