<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.whois.headline"></h1>
        </div>
        <div class="span12">
            <p class="running-text" translate="gmbh.whois.text1"></p>
        </div>
        <div class="span12">
            <form method="GET" class="whois">
                <fieldset>
                    <input type="text" required pattern=".{3,}\.hiv$" placeholder="[[ 'gmbh.whois.field' | translate ]]" class=" pull-left">
                    <button class="btn"><span class="glass"></span></button>
                </fieldset>
            </form>
        </div>
        <div class="span12 headline">
            <h2 translate="gmbh.whois.latest"></h2>
        </div>
        <div class="span12">
            <p class="running-text" translate="gmbh.whois.text2"></p>
        </div>
        <div class="span12">
            <ul class="domains">
                <li ng-repeat="r in (recent | limitTo: 6)" class="running-text bold-text"><a ng-href="[[ r.link ]]">[[
                    r.url ]]</a></li>
            </ul>
        </div>
    </div>
</div>
