@searchHeigth: 46px;
.whois {
    .headline { margin: 40px 0 8px; }
    
    * .box { 
        background-color: @wellBackground;
        margin-bottom: 11px;
    }
    
    * .row-fluid .span12 {
        margin-left: 20px;
        h4 { font-size: 26px; }
        &.headline { margin: 40px 20px 2px; }
    }
    
    .search {
        height: @searchHeigth;
        margin-bottom: 41px;
    
        input {
            height: 100%;      
            width: 380px;
            border: none;
            padding: 0;
            padding-left: 20px;
        }
        
        button {
            height: 100%;
            width: 61px;
            border: none;
            padding: 0;
            margin: 0;
            background-color: @hivblue;
            
            .glass {
                height: 23px;
                width: 21px;
                background-image: url('/bundles/websitecompany/images/glass.png');
                margin: 0 auto;
            }
            &:hover { background-color: @colordark; }
        }
    }
    ul {
        margin-top: 15px;
        margin-bottom: 36px;
        
        li { 
            position: relative;
            list-style-image: url('/bundles/websitecompany/images/bluemouse.png');
            margin-bottom: 5px;
            
            a { 
                position: absolute;
                bottom: 6px;
                margin-left: 10px;
            }   
        }
    }
}