<div >
    <div class="jumbotron infobox bottom-shadow" ng-hide="isClosed">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="upper">
                        <h3 class="oneup pink-text">[[ 'home.about.oneclickheadline' | translate ]]</h3>
                        <div class="image-container monitor">
                            <div class="text">
                                [[ 'home.about.monitorheadline' | translate ]]<br>
                                [[ 'home.about.monitortext' | translate ]]
                            </div>
                        </div>
                    </div>
                    <div class="lower"><p class="running-text">[[ 'home.about.oneclick' | translate ]]</p></div>
                </div>
                <div class="span4">
                    <div class="upper">
                        <h3 class="oneup hivblue-text">[[ 'home.about.voteheadline' | translate ]]</h3>
                        <div class="image-container arrow">
                            <div class="text">
                                [[ 'home.about.arrowtext' | translate ]]
                            </div>
                        </div>
                    </div>
                    <div class="lower"><p class="running-text">[[ 'home.about.vote' | translate ]] baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab </p></div>
                </div>
                <div class="span4">
                    <div class="upper">
                        <h3 class="oneup colordark-text">[[ 'home.about.shareheadline' | translate ]]</h3>
                        <div class="image-container people"></div>
                    </div>
                    <div class="lower"><p class="running-text">[[ 'home.about.share' | translate ]] babababababab babababababab baba baba babab baba baba babab baba baba babab baba baba babab </p></div>
                </div>
            </div>
            <div class="row colorfooter-container">
                <div class="colorfooter4 color-pink medium-height"></div>
                <div class="colorfooter4 color-blue medium-height"></div>
                <div class="colorfooter4 color-dark medium-height colorfooter-last-dark"></div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container whosbehind">
    <div class="row">
        <div class="offset6 span6">
            <h5 class="pink-text">[[ 'home.who.headline' | translate ]]</h5>
            <p class="running-text">
                [[ 'home.who.text' | translate ]] 
                <a class="bold-text" href="#!">[[ 'home.who.knowmore' | translate ]]</a>
            </p>
            <div class="colorfooter6 color-pink small-height"></div>
            <h5><a href="#!/">[[ 'home.who.votefor' | translate ]]</a></h5>
            <div class="colorfooter6 color-dark xsmall-height"></div>
            <h5><a href="#!/">[[ 'home.who.yourpage' | translate ]]</a></h5>
            <div class="colorfooter6 color-dark xsmall-height"></div>
            <h5><a href="#!/">[[ 'home.who.howto' | translate ]]</a></h5>
            <div class="colorfooter6 color-dark xsmall-height"></div>
        </div>
    </div>
    <div class="row bottom-hack">
        <div class="pos-rel">
            <img class="overflow-up" src="/bundles/websitecharity/images/whosbehind.png"></img>
        </div>
    </div>
</div>

<hr class="bottom-shadow">

<div class="container voteproject">
    <div class="row">
        <div class="span12">
            <h3 class="hivblue-text pull-left">[[ 'home.vote.headline' | translate ]]</h3>
            <a class="next2h3 pull-left" href="#!/">
                <div class="heading-arrow"></div>
                [[ 'home.vote.allprojects' | translate ]]
            </a>
            <div class="next2h3 pull-right">
                <a href="#!/"><i class="icon-tick-left"></i></a>
                <a href="#!/"><i class="icon-tick-right"></i></a>
            </div>
        </div>
        <div class="span12">
            <p class="running-text">[[ 'home.vote.header' | translate ]]</p> 
        </div>
    </div>
    <div class="container">
        <div class="row projects-container">
            <div class="span4">
                <img src="/bundles/websitecharity/images/projects/schoolclass.jpg"></img>
                <span class="colordark-text running-text"><span id="proAVoteCount">124</span> Votes | Rangliste Platz <span id="proAVotePlace">14</span></span>
                <div class="separator4 color-dark small-height"></div>
                <div class="ellip">
                    <h5>[[ 'home.vote.headlineA' | translate ]] bla blab abalba lbablab</h5>
                </div>
                <div class="row-fluid">
                    <div class="btn-group btn-group-vertical span12">
                        <button class="btn btn-primary span12">[[ 'home.vote.votethis' | translate ]]</button>
                    </div>
                </div>
            </div>
            <div class="span4">
                <img src="/bundles/websitecharity/images/projects/papermen.jpg"></img>
                <span class="colordark-text running-text"><span id="proBVoteCount">124</span> Votes | Rangliste Platz <span id="proBVotePlace">14</span></span>
                <div class="separator4 color-dark small-height"></div>
                <div class="ellip">
                    <h5>Kinder und AIDS, Hilfe für HIV-betroffene Familien bla bla blablabla bla bla blablabla bla bla blablabla</h5>
                </div>
                <div class="row-fluid">
                    <div class="btn-group btn-group-vertical span12">
                        <button class="btn btn-primary span12">[[ 'home.vote.votethis' | translate ]]</button>
                    </div>
                </div>
            </div>
            <div class="span4">
                <img src="/bundles/websitecharity/images/projects/trees.jpg"></img>
                <span class="colordark-text running-text"><span id="proCVoteCount">124</span> Votes | Rangliste Platz <span id="proCVotePlace">14</span></span>
                <div class="separator4 color-dark small-height"></div>
                <div class="ellip">
                    <h5>[[ 'home.vote.headlineC' | translate ]]</h5>
                </div>
                <div class="row-fluid">
                    <div class="btn-group btn-group-vertical span12">
                        <button class="btn btn-primary span12">[[ 'home.vote.votethis' | translate ]]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="bottom-shadow">

<div class="container firms">
    <div class="row headline">
        <div class="span12">
            <h3 class="pink-text pull-left">[[ 'home.firms.headline' | translate ]]</h3>
            <a class="next2h3 pull-left" href="#!/">
                <div class="heading-arrow"></div>
                [[ 'home.firms.allfirms' | translate ]]
            </a>
            <div class="next2h3 pull-right">
                <a href="#!/"><i class="icon-tick-left"></i></a>
                <a href="#!/"><i class="icon-tick-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/firms/github.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/firms/liga01.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/firms/jovoto.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/firms/swipe.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/firms/github.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/firms/liga01.jpg"></img>
            </a>
        </div>
    </div>
</div>

<hr class="bottom-shadow">

<div class="container quotes">
    <div class="row">
        <div class="span12">
            <h3 class="colordark-text pull-left">[[ 'home.quotes.headline' | translate ]]</h3>
            <a class="next2h3 pull-left" href="#!/">
                <div class="heading-arrow"></div>
                [[ 'home.quotes.allquotes' | translate ]]
            </a>
            <div class="pos-rel pull-left">
                <img class="quote-bubbles" src="/bundles/websitecharity/images/quote-bubbles.png"></img>
            </div>
            <div class="next2h3 pull-right">
                <a href="#!/"><i class="icon-tick-left"></i></a>
                <a href="#!/"><i class="icon-tick-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row quote-container">
        <div class="span6">
            <div class="separator6 color-blue small-height"></div>
            <p id="quoteA" class="quote hivblue-text">[[ 'home.quotes.quoteA' | translate ]]</p>
            <div class="separator6 color-blue small-height"></div>
            <p class="quoted" id="userA">[[ 'home.quotes.userA' | translate ]]</p>
        </div>
        <div class="span6">
            <div class="separator6 color-blue small-height"></div>
            <p id="quoteB" class="quote hivblue-text">[[ 'home.quotes.quoteB' | translate ]]</p>
            <div class="separator6 color-blue small-height"></div>
            <p class="quoted" id="userB">[[ 'home.quotes.userB' | translate ]]</p>
        </div>
    </div>
</div>

<hr class="bottom-shadow">

<div class="container partners">
    <div class="row">
        <div class="span12">
            <h3 class="pink-text pull-left">[[ 'home.partners.headline' | translate ]]</h3>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/partners/liga01.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/partners/jovoto.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/partners/github.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/partners/github.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/partners/swipe.jpg"></img>
            </a>
        </div>
        <div class="span2">
            <a href="#!/">
                <img src="/bundles/websitecharity/images/firms/liga01.jpg"></img>
            </a>
        </div>
    </div>
    <div class="pull-right couple">
        <img src="/bundles/websitecharity/images/partners.png"></img>
    </div>
</div>