// Grid
article.shop {
  width: 70%;
  float: left;
}

nav.shop {
  width: 30%;
  float: left;
}

// Style
article.shop {
  a {
    color: @color-pink;
  }
  h2 {
    font-size: @font-size-h1 * 1.3;
    color: @color-pink;
  }
  form {
    .clearfix;
    margin: 0 0 2em 0;
    fieldset {
      .row;
      margin-bottom: 1em;
      input[type=text], input[type=email], input[type=tel], input[type=url], input[type=password], select {
        .form-control;
        .input-lg;
        font-weight: @font-weight-bold;
      }
      input[type=text], input[type=email], input[type=tel], input[type=url], input[type=password] {
        border-radius: 0;
        border: 2px solid fadeout(@text-color, 30%);
        &.ng-valid {
          border-color: @brand-success;
          &.ng-pristine {
            border-color: fadeout(@text-color, 30%);
            &[disabled] {
              border-color: transparent;
            }
          }
        }
        &.ng-invalid {
          border-color: @brand-danger;
          &.ng-pristine {
            border-color: fadeout(@text-color, 30%);
          }
        }
        &.ng-pristine {
        }
        &.ng-dirty {
        }
      }
      div.intro {
        .make-sm-column(12);
      }
      div.field {
        .make-sm-column(12);
        div.input {
          position: relative;
        }
        i.valid, i.invalid, i.required {
          .icon;
          .glyphicon-refresh;
          font-size: @font-size-large * 2;
          position: absolute;
          top: (@input-height-large - (@font-size-large * 2)) / 2;
          right: (@input-height-large - (@font-size-large * 2));
        }
        i.valid {
          .glyphicon-ok;
          color: @brand-success;
        }
        i.invalid {
          .glyphicon-exclamation-sign;
          color: @brand-danger;
        }
        i.required {
          .glyphicon-asterisk;
          color: fadeout(@color-pink, 50%);
        }
      }
      div.radio-field {
        div.radio-option {
          margin-top: 1em;
          .clearfix;
        }
        input[type=radio] {
          display: none;
        }
        img.radio {
          .pull-left;
          clear: left;
          width: auto;
          margin-top: 8px;
          cursor: pointer;
        }
        label {
          font-size: @font-size-h2;
          color: @color-pink;
          cursor: pointer;
          line-height: 1em;
          margin-left: 0.5em;
        }
        div.infolabel {
          float: left;
          width: 80%;
          margin-left: 1.5em;
          clear: right;
          p {
            margin: 0;
          }
          label {
            margin-left: 0;
          }
        }

      }
    }
    label {
      font-size: @font-size-large;
      font-weight: @font-weight-regular;
      em {
        display: block;
        font-weight: @font-weight-regular;
        font-size: @font-size-small;
        font-style: normal;
      }
    }
    legend {
      margin-left: @grid-gutter-width / 2;
      margin-right: @grid-gutter-width / 2;
      margin-bottom: 0;
      font-size: @font-size-h2;
      border: 0;
    }
    .disabled {
      label, code {
        color: lighten(@text-color, 50%);
      }
    }
  }
  nav {
    button {
      &:extend(.btn all);
      &:extend(.btn-lg all);
      border-radius: 0;
      &.primary {
        &:extend(.btn-pink all);
      }
    }
    a.primary {
      &:extend(.btn all);
      &:extend(.btn-lg all);
      border-radius: 0;
      &:extend(.btn-pink all);
    }
    button + button, a + a, button + a, a + button {
      margin-left: 0.5em;
    }
  }
}

header.page {
  position: relative;

  nav.meta {
    display: none;
    @media (min-width: @screen-sm-min) {
      display: block;
      position: absolute;
      right: @grid-gutter-width / 2;
      top: @grid-gutter-width / 2;
      z-index: 100;
    }
  }
}

#mainmenu {
  li.meta {
    @media (min-width: @screen-sm-min) {
      display: none;
    }
  }
}

nav.shop {
  margin-top: 4em;
  ul.steps {
    margin: 0 0 0 (@grid-gutter-width / 2);
    padding: 0;
    list-style: none;
    width: 100%;
    font-size: @font-size-h5;
    font-weight: @font-weight-bold;
    color: darken(@brand-primary-foreground, 25%);
    li.step {
      .clearfix;
      text-align: right;
      height: 50px;
      line-height: 50px;
      button {
        border: 0;
        background: none;
        &:focus {
          outline: none;
        }
      }
      &.enabled {
        button {
          color: @color-pink;
        }
        span.number {
          background-color: @color-pink;
        }
      }
      span.number {
        display: inline-block;
        float: right;
        clear: right;
        font-size: @font-size-h4;
        margin-left: 1em;
        border-radius: 100%;
        background-color: darken(@brand-primary-foreground, 25%);
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 35px;
        margin-top: 5px;
        color: white;
      }
    }
  }
}
