article.shop {
  section.lookup {
    div.lookupResult {
      h3 {
        margin: 0;
        line-height: @input-height-large;
        strong {
          font-weight: @font-weight-regular;
          color: @color-pink;
        }
        img {
          float: left;
          width: auto;
          margin-right: 0.5em;
        }
      }
      &.premium {
        .make-xs-column(12);
        div.text {
          h3 {
            margin-bottom: 1em;
          }
          h4 {
            font-size: @font-size-h3;
          }
        }
        nav {
          a {
            .pull-right;
          }
          a + a {
            margin-right: 0.5em;
            margin-left: 0.5em;
          }
        }
      }
      &.available {
        nav {
          .pull-right;
        }
      }
      &.registered {
        .make-xs-column(12);
        div.text {
          h3 {
            margin-bottom: 1em;
          }
        }
        p {
          font-size: @font-size-h3;
          strong {
            font-weight: @font-weight-regular;
            color: @color-pink;
          }
          a {
            .pull-right;
            color: @text-color;
            text-decoration: underline;
          }
        }
      }
      &.trademark {
        .make-xs-column(12);
        div.text {
          h3 {
            margin-bottom: 1em;
          }
        }
      }
    }
  }
  div.block {
    em {
      font-weight: bold;
      font-style: normal;
      color: @color-pink;
    }
  }
  section.lookup-pristine {
  }
  form.lookup {
    fieldset.lookupDomain {
      div.field.hivdomain {
        .make-sm-column(8);
        input {
          width: 80%;
          .pull-left;
          text-align: right;
          border: 0;
          &:focus {
            box-shadow: none;
          }
          font-size: @font-size-h1;
          font-weight: @font-weight-regular;
          height: auto;
          padding: 0;
          margin: 0;
          box-shadow: none;
        }
        span {
          .pull-left;
          display: inline-block;
          height: @input-height-large;
          line-height: @input-height-large;
          font-size: @font-size-h1;
          padding: 0;
          color: @color-pink;
        }
        div.border {
          .clearfix;
          border: 2px solid fadeout(@text-color, 30%);
        }
      }
      nav {
        .make-sm-column(4);
        @media (max-width: @screen-xs-max) {
          .pull-right;
          margin-top: 1em;
        }
        button {
          width: 100%;
          height: @input-height-large + 8px;
          font-size: @font-size-h4;
        }
      }
    }
    &.lookup4life {
      fieldset.lookupDomain {
        div.field.hivdomain {
          input {
            width: 65%;
          }
        }
      }
    }
  }
  div.promo4life {
    .make-xs-column(12);
    padding: 0 1em 1em 1em;
    border: 2px solid @color-pink;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
    margin-top: 4em;
    margin-bottom: 2em;
    overflow: hidden;
    .ribbon {
      position: absolute;
      top: 28px;
      left: -63px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
      transform: rotate(-45deg);
      background-color: @color-pink;
      h3 {
        text-transform: uppercase;
        font-size: @font-size-small;
        font-weight: @font-weight-bold;
        text-align: center;
        margin: 0.25em 4em;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        color: @color-pink-foreground;
      }
    }
    .header {
      h4 {
        font-size: @font-size-h3;
        text-align: center;
        margin: 0.5em 1.75em 0 1.75em;
        @media (min-width: @screen-md-min) {
          margin: 0.5em 1.5em 0 1.5em;
        }
        padding: 0;
      }
      p {
        margin: 0 0 0.5em 0;
        font-size: @font-size-h3;
        text-align: center;
      }
    }
    .info {
      margin-top: 0.5em;
      margin-bottom: @input-height-large + @grid-gutter-width / 2;
      font-size: @font-size-small;
      p {
        margin: 0;
      }
      @media (min-width: @screen-sm-min) {
        .pull-left;
        width: 50%;
        margin-bottom: 0;
      }
    }
    .buy {
      position: absolute;
      bottom: @grid-gutter-width / 2;
      right: @grid-gutter-width / 2;
      .price {
        .pull-left;
        strong {
          font-size: @font-size-h2;
        }
      }
      a.button {
        &:extend(.btn all);
        &:extend(.btn-lg all);
        &:extend(.btn-pink all);
        .pull-left;
        margin-left: 0.5em;
      }
    }
  }
}
