<script type="text/ng-template" id="/template/shop/{{ code }}.html">
    <section class="{{ code }}">
        <div class="block">
            <h2>{{ block.title }}</h2>
            {{ block.text|default("")|markdown }}
        </div>
    </section>
</script>
