{% trans_default_domain "charity" %}
{% set title %}{{ page.title }}{% endset %}
{% extends "DothivCharityWebsiteBundle:Page:cfpage.html.twig" %}
{% block header %}
    <header class="jumbotron profile-header" data-ng-controller="AccountHeaderController">
        <div class="container">
            <div class="row">
                <div class="span12" data-ng-show="user.$resolved && security.isAuthenticated()">
                    <h2>{{ 'profile.greeting'|trans|markdown }}</h2>
                    <nav>
                        <a href="{{ path('dothiv_charity_account_index', {'locale': locale}) }}#!/profile/dashboard" data-ng-class="{ active: state.includes('profile.dashboard') }">
                            {% trans %}profile.navigation.dashboard{% endtrans %}
                        </a>
                        <a data-ng-click="logout()">
                            {% trans %}profile.navigation.logout{% endtrans %}
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}
{% block content %}
    <article class="account">
        <div class="container profile" data-ui-view></div>
    </article>
{% endblock %}

{% block angular_app %}
    {% javascripts
    '@zeroclipboard_js'
    '@jquery'
    '@punycode_js'
    '@angular_js_resource'
    '@angular_js_route'
    '@angular_js_cookies'
    '@angular_ui_router'
    '@DothivCharityWebsiteBundle/Resources/public/app.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/services/*.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/services/models/*.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/filters/*.js'
    '@DothivCharityWebsiteBundle/Resources/public/controllers/*.js'
    '@DothivCharityWebsiteBundle/Resources/public/controllers/account/*.js'
    filter='?ngmin,?closureecma5'
    output='js/*.min.js' %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        'use strict';
        angular.module('dotHIVApp.services').factory('strings', function () {
            var strings = {
                error: {
                    login: {
                        notfound: "{% trans %}error.login.notfound{% endtrans %}"
                    }
                },
                copy_to_clipboard: "{% trans %}copytoclipoard{% endtrans %}"
            };
            return strings;
        });
        ZeroClipboard.config( { swfPath: "/swf/ZeroClipboard.swf" } );
    </script>
{% endblock angular_app %}
