{% extends "DothivCharityWebsiteBundle::page.html.twig" %}
{% use "DothivCharityWebsiteBundle:partials:blocks.html.twig" %}

{% block content %}
    {% for block in page.blocks %}
        <div class="row-fluid">
            {% set level = 2 %}
            {% set nblock = loop.index %}
            {{ block('cf_block') }}
        </div>
    {% endfor %}
{% endblock %}

