<div class="row">
    <div class="span12 profile-summary-item">
        <div class="profile-summary-item-well">
            <h3>Projekt lorem ipsum dolor sit amet</h3>
            <div class="profile-summary-item-lower">
                <a class="pull-right" href="#">Zum Projekt<div class="item-arrow"></div></a>
                <div class="pull-left item-icon"></div>
                <span>"Bitte unterstützen Sie dieses Projekt, ..."</span>
            </div>
        </div>
    </div>
</div>