<div class="container">
    <div class="row">
        <div class="span12 profile-heading">
            <h2 class="pull-left">Domain-Registrierung abschließen</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="form-well">
                Mit dem Abschluss der Domain-Registrierung wird die Domain <br><br>
                <strong>[[ domain.name ]]</strong> für <strong>[[ security.user.name + " " + security.user.surname ]]</strong> mit dem Token <strong>[[ token ]]</strong><br><br>
                registiert.
                <button ng-click="claim()" class="btn btn-primary pull-right" >weiter</button>
            </div>
        </div>
    </div>
</div>
