<div class="container">
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-domains-heading">
            <div class="profile-list-search pull-right"><input no-validate ng-model='searchText.name' placeholder="Domains suchen"></div>
            <h2>Domainübersicht</h2>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-domains-list">
        <li ng-repeat="domain in (domains | filter:searchText | limitTo:(searchText.name ? domains.length : pageLength))">{% include 'DotHivWebsiteCharityBundle:Partials/Profile:domains-item.html.twig' %}</li>
    </ul>
    <div class="row">
        <button class="next-page span12" ng-hide="(pageLength >= domains.length) || searchText.name" ng-click="pageLength = pageLength + 5">Mehr anzeigen <i class="icon-tick-lower icon-white"></i></button>
    </div>
</div>