<div class="container">
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-domains-heading">
            <a class="pull-right" href="#"><div class="heading-arrow"></div>Neue Domain registrieren</a>
            <h2>Domainübersicht</h2>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-domains-list">
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:domains-item.html.twig' %}</li>
    </ul>
</div>