<div class="container">
    <div class="row">
        <div class="span12 profile-heading">
            <h2 class="pull-left">Domain verwalten</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
        </div>
    </div>
</div>
