<div class="container">
    <div class="row">
        <div class="span12 profile-heading">
            <h2 class="pull-left">Mein Profil bearbeiten</h2>
            <a href="#!/profile"><div class="heading-arrow"></div>Zurück zur Übersicht</a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="form-well">
                <form novalidate name="editForm" class="simple-form" ng-class="{clean: editclean, unclean: !editclean}">
                    <fieldset>
                        <span class="alert alert-error" ng-show="editerrormsg">[[ editerrormsg ]]</span>

                        <label for="edit-name">[[ 'profile.edit.form.name.label' | translate ]]</label>
                        <input type="text" class="span6" name="name" id="edit-name" ng-model="user.name" placeholder="[[ 'profile.edit.form.name.placeholder' | translate ]]" required />

                        <label for="edit-surname">[[ 'profile.edit.form.surname.label' | translate ]]</label>
                        <input type="text" class="span6" name="surname" id="edit-surname" ng-model="user.surname" placeholder="[[ 'profile.edit.form.surname.placeholder' | translate ]]" required />

                        <label for="edit-email">[[ 'profile.edit.form.email.label' | translate ]]</label>
                        <input type="email" class="span6" name="email" id="edit-email" ng-model="user.email" placeholder="[[ 'profile.edit.form.email.placeholder' | translate ]]" required />
                        <button type="submit" ng-click="submit()" class="btn btn-primary pull-right" >[[ 'profile.edit.form.submit' | translate ]]</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>