<div class="container">
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-projects-heading">
            <a class="pull-right" href="#">Neues Projekt anlegen</a>
            <h2>Projekte (2)</h2>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-projects-list">
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:projects-item.html.twig' %}</li>
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:projects-item.html.twig' %}</li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-domains-heading">
            <a class="pull-right" href="#">Neue Domain registrieren</a>
            <h2>Registrierte Domains (1)</h2>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-domains-list">
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:domains-item.html.twig' %}</li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-votes-heading">
                <h2 class="pull-left">Abgegebene Votes (4)</h2>
                <a href="#">Alle abgegebenen Votes anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-votes-list">
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:votes-item.html.twig' %}</li>
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:votes-item.html.twig' %}</li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-comments-heading">
            <h2 class="pull-left">Abgegebene Kommentare (10)</h2>
            <a href="#">Alle abgegebenen Kommentare anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-comments-list">
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:comments-item.html.twig' %}</li>
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:comments-item.html.twig' %}</li>
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:comments-item.html.twig' %}</li>
    </ul>
</div>