{% trans_default_domain "charity" %}
<div id="pinkbar" data-ng-controller="PinkbarControllerClicks">
    <div class="pinkbar-progress"></div>
    <div class="pinkbar-label">
        <div>
            <p data-ng-cloak data-ng-show="bar.clicks">{% trans %}home.pinkbar.activated{% endtrans %}</p>
        </div>
    </div>
</div>
