{% trans_default_domain "charity" %}
<div id="pinkbar" data-ng-controller="PinkbarControllerClicks" class="clearfix" data-ng-cloak>
    <div class="pink-bar">
        <div class="pink-progress" data-ng-style="{width: (bar.percent * 100) + '%'}"></div>
        <div class="pink-label">
            <div class="container">
                <div class="row-fluid">
                    <div class="span11 text">
                        <p data-ng-show="bar">{% trans %}home.pinkbar.activated{% endtrans %}</p>
                    </div>
                    <div class="span1">
                        <button type="button" data-btn-checkbox data-ng-model="expanded" data-btn-checkbox-true="true" data-btn-checkbox-false="false" data-ng-class="{true:'active'}[expanded]" class="pull-right"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pink-bar-popover-handle">
        <div data-ng-show="expanded" data-ng-animate="{show: 'pink-bar-popover-show', hide: 'pink-bar-popover-hide'}" class="pink-bar-popover">
            <div class="container">
                <div class="row first">
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span12">
                                {% set pinkbarintro = content('Block', 'pinkbar.intro') %}
                                <h2>{{ pinkbarintro.title }}</h2>
                                {{ pinkbarintro.text|markdown }}
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <p>{% trans %}home.pinkbar.popover.shareNow{% endtrans %}</p>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-text="{% trans %}share.twitter.text{% endtrans %}">{% trans %}
                                    share.twitter.button{% endtrans %}</a>

                                <div class="fb-like" data-href="{{ app.request.uri }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <iframe data-ng-show="expanded" data-ng-src="//www.youtube.com/embed/ZAk0NTZgZ0c" allowfullscreen class="video"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

