parameters:
    dothiv.charity.sendwithus_renderer.class: Dothiv\CharityWebsiteBundle\SendWithUs\TemplateRenderer
    dothiv.charity.userreminder.mailer.class: Dothiv\CharityWebsiteBundle\UserReminder\UserReminderMailer

# TODO: move the template id config to a config setting
services:
    dothiv.charity.userreminder.nonprofit_approved_not_registered:
        class: Dothiv\CharityWebsiteBundle\UserReminder\NonProfitApplication\ApprovedNotRegisteredReminder
        tags:
        - { name: dothiv.userreminder, type: "nonprofit_approved_not_registered" }
        arguments:
        - @dothiv.repository.nonprofitregistration
        - @dothiv.repository.domain
        - @dothiv.repository.userreminder
        - @clock
        - {en: "tem_2YUuqg7BMYyHUubMDkX4CW", de: "tem_uxQNKx2SKRjf3CxD22SYe6"}
        - @dothiv.charity.userreminder.mailer

    dothiv.charity.userreminder.nonprofit.online_clickcounter_configured_but_not_installed:
        class: Dothiv\CharityWebsiteBundle\UserReminder\Domain\OnlineClickCounterConfiguredButNotInstalled
        tags:
        - { name: dothiv.userreminder, type: "nonprofit_online_clickcounter_configured_but_not_installed" }
        arguments:
        - @dothiv.repository.domain
        - @dothiv_hiv_domain_status.repository.check
        - @dothiv.repository.domain_whois
        - @dothiv.repository.userreminder
        - @clock
        - {en: "tem_L2T4LS9HCP5fWzSqDr2fZf", de: "tem_28sgdaRhyXPvHiisYNuUM5"}
        - @dothiv.charity.userreminder.mailer
        calls:
        - [setNonProfit, ["1"]]

    dothiv.charity.userreminder.forprofit.online_clickcounter_configured_but_not_installed:
        class: Dothiv\CharityWebsiteBundle\UserReminder\Domain\OnlineClickCounterConfiguredButNotInstalled
        tags:
        - { name: dothiv.userreminder, type: "forprofit_online_clickcounter_configured_but_not_installed" }
        arguments:
        - @dothiv.repository.domain
        - @dothiv_hiv_domain_status.repository.check
        - @dothiv.repository.domain_whois
        - @dothiv.repository.userreminder
        - @clock
        - {en: "tem_L2T4LS9HCP5fWzSqDr2fZf", de: "tem_28sgdaRhyXPvHiisYNuUM5"}
        - @dothiv.charity.userreminder.mailer
        calls:
        - [setNonProfit, ["0"]]

    dothiv.charity.userreminder.nonprofit_registered_but_not_online:
        class: Dothiv\CharityWebsiteBundle\UserReminder\NonProfitApplication\RegisteredButNotOnline
        tags:
        - { name: dothiv.userreminder, type: "registered_but_not_online" }
        arguments:
        - @dothiv.repository.nonprofitregistration
        - @dothiv.repository.domain
        - @dothiv_hiv_domain_status.repository.check
        - @dothiv.repository.userreminder
        - @clock
        - {en: "tem_dRysVqesLGMysMiNj7z4fF", de: "tem_dQP73nt9QjWNTaMcwnZq59"}
        - @dothiv.charity.userreminder.mailer

    dothiv.charity.userreminder.domain.online_but_click_counter_not_configured.nonprofit:
        class: Dothiv\CharityWebsiteBundle\UserReminder\Domain\OnlineButClickCounterNotConfigured
        tags:
        - { name: dothiv.userreminder, type: "domain_online_but_click_counter_not_configured_nonprofit" }
        arguments:
        - @dothiv.repository.domain
        - @dothiv.repository.domain_whois
        - @dothiv_hiv_domain_status.repository.check
        - @dothiv.repository.userreminder
        - @clock
        - {en: "tem_nfKoz3EGq7XiopxydULgQG", de: "tem_2ZtRfTXUk8zKd7GfLV7wah"}
        - @dothiv.charity.userreminder.mailer
        calls:
        - [setAfter, ["-4 weeks"]]
        - [setNonProfit, ["1"]]

    dothiv.charity.userreminder.domain.online_but_click_counter_not_configured.forprofit:
        class: Dothiv\CharityWebsiteBundle\UserReminder\Domain\OnlineButClickCounterNotConfigured
        tags:
        - { name: dothiv.userreminder, type: "domain_online_but_click_counter_not_configured_forprofit" }
        arguments:
        - @dothiv.repository.domain
        - @dothiv.repository.domain_whois
        - @dothiv_hiv_domain_status.repository.check
        - @dothiv.repository.userreminder
        - @clock
        - {en: "tem_nfKoz3EGq7XiopxydULgQG", de: "tem_2ZtRfTXUk8zKd7GfLV7wah"}
        - @dothiv.charity.userreminder.mailer
        calls:
        - [setAfter, ["-2 weeks"]]
        - [setNonProfit, ["0"]]

    dothiv.charity.userreminder.domain.telltheworld.forprofit:
        class: Dothiv\CharityWebsiteBundle\UserReminder\Domain\TellTheWorld
        tags:
        - { name: dothiv.userreminder, type: "tell_the_world_forprofit" }
        arguments:
        - @dothiv.repository.domain
        - @dothiv.repository.domain_whois
        - @dothiv.repository.userreminder
        - @clock
        - { templates: { en: "tem_LkcjjcYkCBetkV37FSfdrb", de: "tem_RFokjpCcpEYmwfmmZqfLdW" }, attachments: [ { space: xfj3l4zlkg3j, id: 7xCEHA40bCo0muQc6ieyme }, { space: xfj3l4zlkg3j, id: 2pr9w6gSXakaIgWQwGmSuq } ] }
        - @dothiv.charity.userreminder.mailer
        calls:
        - [setNonProfit, ["0"]]

    dothiv.charity.userreminder.domain.telltheworld.nonprofit:
        class: Dothiv\CharityWebsiteBundle\UserReminder\Domain\TellTheWorld
        tags:
        - { name: dothiv.userreminder, type: "tell_the_world_nonprofit" }
        arguments:
        - @dothiv.repository.domain
        - @dothiv.repository.domain_whois
        - @dothiv.repository.userreminder
        - @clock
        - { templates: { en: "tem_LkcjjcYkCBetkV37FSfdrb", de: "tem_RFokjpCcpEYmwfmmZqfLdW" }, attachments: [ { space: xfj3l4zlkg3j, id: 3XrGEdGW6sK4QYsikqos8u }, { space: xfj3l4zlkg3j, id: 3xgBfqG6zCm6yIOUM4MY6e } ] }
        - @dothiv.charity.userreminder.mailer
        calls:
        - [setNonProfit, ["1"]]

    dothiv.charity.sendwithus_renderer:
        class: %dothiv.charity.sendwithus_renderer.class%
        arguments:
        - %sendwithus_apikey%

    dothiv.charity.userreminder.mailer:
        class: %dothiv.charity.userreminder.mailer.class%
        arguments:
            - @swiftmailer.mailer.charity
            - @dothiv.charity.sendwithus_renderer
            - @dothiv_contentful.asset
            - @dothiv_contentful.repo.asset
            - %charity_email_from_address%
            - %charity_email_from_name%
