nav.main {
  &:extend(.container)
;
  .clearfix();

  padding: 0;

  section {
    .make-sm-column(4);
    h2 {
      font-size: @font-size-base;
      padding: 10px;
    }
    a {
      display: block;
      padding: 10px;
      border-top: 1px solid @text-color;
      text-align: center;
    }
    a:last-child {
      border-bottom: 1px solid @text-color;

    }
    a, a:visited {
      color: @text-color;
    }
    @media (min-width: @screen-sm-min) {
      margin-bottom: 40px;
      margin-top: 40px;
      h2 {
        margin-bottom: 20px;
        font-size: @font-size-h2;
        padding: 0;
      }

      a {
        padding: 0;
        border: 0;
        text-align: left;
      }

      a:last-child {
        border: 0;
      }
    }
  }
}
