<!DOCTYPE html>
<html lang="en" ng-app="dotHIVApp" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <title>[[ 'title' | translate ]]</title>
        {% stylesheets '@DotHivWebsiteCompanyBundle/Resources/lesscss/custom-bootstrap.less' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset("bundles/websitecompany/images/favicon.png") }}" />
    </head>
    <body>
        <div class="page" ng-controller="HeaderController">
            <div style="width: 100%; height: 100%; background: white; z-index: 10000; position: absolute; top: 0; left: 0;" ng-show="!finishedbooting"></div>
            <div style="height: 40px;"></div>
            <div class="container header">
                <div class="row">
                    <div class="span2 pull-right"></div>
                    <div class="span1 usermenu pull-right">
                        <ul class="">
                            <li class="accountance"><a class="hover-arrow">[[ 'gmbh.header.config' | translate ]]</a></li>
                            <li class="accountance"><a class="hover-arrow">[[ 'gmbh.header.back' | translate ]]</a></li>
                            <li class="accountance grey">
                                <div class="language-chooser">
                                    <dh-select class="" model="locale.language" options="siteLanguages" label="label" assign="key"></dh-select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row bottom-hack">
                    <div class="pos-rel">
                        <div class="overflow-up">
                            <div>
                                <a href="#!/">
                                    <img class="pull-left" src="{{ asset("bundles/websitecompany/images/hiv-logo.png") }}">
                                    <div class="headline pull-left">
                                        <div class="space">TLD dotHIV<br>Registry GmbH</div>
                                    </div>
                                </a>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 30px;"></div>
            <hr class="just bottom-shadow">
            <div class="jumbotron infobox bottom-shadow">
                <div class="container">
                    <div class="row">
                        <div class="span1">
                            <h5 class="hivblue-text">[[ 'gmbh.menu.asTLD' | translate ]]</h5>
                            <ul>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.registrars' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.becomeregistrar' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/whois">[[ 'gmbh.menu.whois' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.policies' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.stats' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.service' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.ICANN' | translate ]]</a></li>
                            </ul>
                        </div>
                        <div class="span3"></div>
                        <div class="span1">
                            <h5 class="hivblue-text">[[ 'gmbh.menu.forcompanies' | translate ]]</h5>
                            <ul>
                                <li class="accountance"><a href="#!/advantage">[[ 'gmbh.menu.advantage' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/concepts">[[ 'gmbh.menu.concepts' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.registernow' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.registercharity' | translate ]]</a></li>
                            </ul>
                        </div>
                        <div class="span3"></div>
                        <div class="span1">
                            <h5 class="hivblue-text">[[ 'gmbh.menu.ourregistry' | translate ]]</h5>
                            <ul>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.contract' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.usage' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.reports' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/team">[[ 'gmbh.menu.team' | translate ]]</a></li>
                                <li class="accountance"><a href="#!/">[[ 'gmbh.menu.jobs' | translate ]]</a></li>
                            </ul>
                        </div>
                        <div class="span3"></div>
                    </div>
                </div>
            </div>

            <div style="clear: both;"></div>
            <div class="content" ui-view></div>

            <footer class="footer">
                <div class="container">
                    <div class="row">
                        <div class="span12 center footer-margin">
                            <img class="hiv-42px" src="{{ asset("bundles/websitecompany/images/hiv-logo.png") }}">
                            <div class="container">
                                <div class="row">
                                    <div class="span4">
                                        <p class="running-text bold-text">[[ 'gmbh.footer.slogan' | translate ]]</p>
                                    </div>
                                    <div class="span4">
                                        <ul>
                                            <li class="running-text">[[ 'gmbh.footer.name' | translate ]]</li>    
                                            <li class="running-text">[[ 'gmbh.footer.street' | translate ]]</li>
                                            <li class="running-text">[[ 'gmbh.footer.city' | translate ]]</li>
                                            <li class="running-text">[[ 'gmbh.footer.phone' | translate ]]</li>
                                        </ul>
                                    </div>
                                    <div class="span4">
                                        <ul>
                                            <li><a class="running-text" src="">[[ 'gmbh.footer.navi.help' | translate ]]</a> / <a class="running-text" src="">[[ 'gmbh.footer.navi.forum' | translate ]]</a></li>
                                            <li><a class="running-text" src="">[[ 'gmbh.footer.navi.contact' | translate ]]</a> / <a class="running-text" src="">[[ 'gmbh.footer.navi.impressum' | translate ]]</a></li>
                                            <li><a class="running-text" src="">[[ 'gmbh.footer.navi.usage' | translate ]]</a> / <a class="running-text" src="">[[ 'gmbh.footer.navi.privacy' | translate ]]</a></li>
                                            <li><a class="running-text" src="">[[ 'gmbh.footer.navi.configurebanner' | translate ]]</a></li>    
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    
            {% include 'DotHivWebsiteCompanyBundle:Default:app.html.twig' %}
        </div>
    </body>
</html>
