<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% trans %}nosupport.title{% endtrans %}</title>
    </head>
    <body>
        <h1>{% trans %}nosupport.headline{% endtrans %}</h1>
        <p><img src="/bundles/dothivwebsitecompany/images/hiv-logo-white.jpg" alt="{% trans %}nosupport.imgalt{% endtrans %}"/></p>
        <p>
            {% trans %}nosupport.text{% endtrans %}
            <a href="http://www.browserchoice.eu/">
                {% trans %}nosupport.link{% endtrans %}
            </a>
        </p>
    </body>
</html>
