<div class="container">
    <div class="row">
        <div class="span12 profile-heading">
            <h2>Domainkonfiguration</h2>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="form-well">
                <h3>Standard</h3>
                <p>
                    Proin porttitor, dolor sit amet egestas scelerisque, augue libero consequat nibh, condimentum adipiscing mi nunc eget tortor. Aliquam erat volutpat. Pellentesque id cursus nulla, non convallis lorem. Maecenas eget sem id dolor pellentesque imperdiet et vitae metus. Etiam ultricies pulvinar commodo. Cras ultricies odio purus, id aliquam neque ullamcorper eu. Morbi a mi mattis, varius risus vel, ultricies metus. Maecenas sit amet nisl sodales turpis tristique sollicitudin. Nam ac dolor et tellus dignissim viverra. Vivamus faucibus bibendum nulla, ut lacinia sem consectetur ac. Cras iaculis nisi vulputate, rhoncus diam et, gravida est.
                </p>
                <a class="btn" href="#!/profile/domain/edit/[[ domain.id ]]">Konfigurieren</a>
            </div>
        </div>
        <div class="span4">
            <div class="form-well">
                <h3>Premium</h3>
                <p>
                    Phasellus eget quam pretium, rutrum quam vel, luctus tortor. Pellentesque eget risus quis arcu congue fermentum eget sit amet lectus. Donec iaculis suscipit nunc in ornare. Vestibulum volutpat nisi et accumsan scelerisque. Donec posuere risus sit amet tortor fermentum, vitae pretium felis luctus. Pellentesque venenatis velit magna, sed ullamcorper elit blandit ac. Aliquam eget orci eget elit semper dapibus. Praesent in quam nibh. Mauris quis ligula lorem. Vestibulum convallis ornare elementum. Mauris condimentum pulvinar ligula non aliquet. Sed sagittis imperdiet elit ac iaculis. In imperdiet lorem purus, vitae ultrices dui accumsan vitae.
                </p>
                <a class="btn" href="#!/profile/domain/edit/[[ domain.id ]]">Konfigurieren</a>
            </div>
        </div>
        <div class="span4">
            <div class="form-well">
                <h3>Sondernutzung</h3>
                <p>
                    Nulla auctor mauris eu ipsum dignissim, eget accumsan mi ultrices. Vestibulum elementum dolor ligula, vel tempus leo bibendum eget. Proin porta semper velit, in auctor lorem ornare nec. Phasellus tempor nisi quis lacus egestas elementum quis rhoncus dui. Donec convallis mattis mollis. Integer elementum quam eget erat interdum, eu egestas lectus iaculis. Praesent fermentum ac lacus eu feugiat.
                </p>
                <a class="btn" href="#!/profile/domain/edit/[[ domain.id ]]">Konfigurieren</a>
            </div>
        </div>
    </div>
</div>
