<div class="container">
    <div class="row">
        <div class="span12 profile-heading">
            <h2 class="pull-left">Domain verwalten</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12" ng-hide="banners.$resolved">
            <p class="text-center"><dh-loader></dh-loader></p>
        </div>
        <div class="span12" ng-show="banners.$resolved">
            <form novalidate name="domaineditbasic" class="simple-form" ng-class="{clean: !domaineditbasic.$failed, unclean: domaineditbasic.$failed}">
                <tabset>
                    <tab active="tab1.active">
                        <tab-heading>Schritt 1</tab-heading>
                        <div class="tab-content-container" ng-form="step1" name="step1">
                            <h3>Domain [[ domain.name ]]<br>Standard-Banner-Konfiguration</h3>
                            <div class="horizontal-radio-group">
                                <dh-input
                                    type="radio"

                                    dh-name="forwardRadio"
                                    ng-model="domaineditbasic.$data.forwarding"
                                    dh-value="true"

                                    dh-label="Weiterleitung einrichten"
                                ></dh-input>
                                <dh-input
                                    type="radio"

                                    dh-name="forwardRadio"
                                    ng-model="domaineditbasic.$data.forwarding"
                                    dh-value="false"

                                    dh-label="keine Weiterleitung"
                                ></dh-input>
                                <div style="clear: both;"></div>
                            </div>
                            <div ng-show="domaineditbasic.$data.forwarding == 'true'">
                                <dh-input
                                    class="span6"
                                    type="url"

                                    dh-name="targetName"
                                    ng-model="banner.redirect_domain"

                                    dh-ng-required="domaineditbasic.$data.forwarding == 'true'"

                                    dh-label="Zieldomain eingeben"

                                    dh-focus="domaineditbasic.$focus.targetName"
                                    dh-tooltip="domaineditbasic.$tooltip.targetName"
                                    dh-tooltip-trigger="focus"
                                    dh-tooltip-placement="right"
                                ></dh-input>
                            </div>
                            <label for="languages">In welcher Sprache soll der Banner angezeigt werden</label>
                            <dh-select class="span6" model="banner.language" options="languages" label="label" assign="key"></dh-select>
                            <div class="tab-bottom-buttons">
                                <button style="visibility: hidden"><i class="icon-tick-left"></i>&nbsp;Schritt zurück</button>
                                <button>&nbsp;Vorschau ansehen</button>
                                <button class="pull-right next" ng-click="nextStep(tab2, step1)"><i class="icon-tick-right icon-white pull-right"></i>Weiter&nbsp;</button>
                            </div>
                        </div>
                    </tab>
                    <tab active="tab2.active" disabled="!step1.$valid">
                        <tab-heading>Schritt 2</tab-heading>
                        <div class="tab-content-container" ng-form="step2">
                            <h3>Domain [[ domain.name ]]<br>Standard-Banner-Konfiguration</h3>
                            <p>Welcher Banner soll dem User beim Besuch von [[ domain.name ]] angezeigt werden?</p>
                            <div class="row-fluid">
                                <div class="span3 position-radio-container">
                                    <label for="positionRadioCenter" class="position-label center"></label>
                                    <dh-input
                                        type="radio"

                                        dh-name="positionRadio"
                                        ng-model="banner.position"
                                        dh-value="center"
                                        dh-id="positionRadioCenter"

                                        dh-label="mittig"
                                    ></dh-input>
                                </div>
                                <div class="span3 position-radio-container">
                                    <label for="positionRadioTop" class="position-label top"></label>
                                    <dh-input
                                        type="radio"

                                        dh-name="positionRadio"
                                        ng-model="banner.position"
                                        dh-value="top"
                                        dh-id="positionRadioTop"

                                        dh-label="oben"
                                    ></dh-input>
                                </div>
                                <div class="span3 position-radio-container">
                                    <label for="positionRadioRight" class="position-label right"></label>
                                    <dh-input
                                        type="radio"

                                        dh-name="positionRadio"
                                        ng-model="banner.position"
                                        dh-value="right"
                                        dh-id="positionRadioRight"

                                        dh-label="rechts"
                                    ></dh-input>
                                </div>
                            </div>
                            <dh-input
                                type="checkbox"

                                dh-name="secondvisitBox"
                                ng-model="domaineditbasic.$data.secondvisit"
                                dh-value="true"

                                dh-label="Ab dem 2. Besuch täglich soll ein anderer Banner angezeigt werden."
                            ></dh-input>
                            <div class="fluid-row clearfix" ng-show="domaineditbasic.$data.secondvisit == true">
                                <div class="span3 position-radio-container">
                                    <label for="altPositionRadioTop" class="position-label top"></label>
                                    <dh-input
                                        type="radio"

                                        dh-name="secondpositionRadio"
                                        ng-model="banner.position_alternative"
                                        dh-value="top"
                                        dh-id="altPositionRadioTop"

                                        dh-label="oben"
                                    ></dh-input>
                                </div>
                                <div class="span3 position-radio-container">
                                    <label for="altPositionRadioRight" class="position-label right"></label>
                                    <dh-input
                                        type="radio"

                                        dh-name="secondpositionRadio"
                                        ng-model="banner.position_alternative"
                                        dh-value="right"
                                        dh-id="altPositionRadioRight"

                                        dh-label="rechts"
                                    ></dh-input>
                                </div>
                            </div>
                            <div class="tab-bottom-buttons">
                                <button ng-click="tab1.active = true"><i class="icon-tick-left"></i>&nbsp;Schritt zurück</button>
                                <button style="visibility: hidden">&nbsp;Vorschau ansehen</button>
                                <button class="pull-right next" ng-click="nextStep(tab3, step2)"><i class="icon-tick-right icon-white pull-right"></i>Speichern&nbsp;</button>
                            </div>
                        </div>
                    </tab>
                    <tab active="tab3.active" disabled="!(step1.$valid && step2.$valid)" select="submit(tab3)">
                        <tab-heading>Finalisieren</tab-heading>
                        <div class="tab-content-container" style="font-style: normal;">
                            <div ng-show="!banner.$resolved">
                                <p class="text-center"><dh-loader></dh-loader></p>
                            </div>
                            <div ng-show="banner.$resolved">
                                <h3>
                                    <div class="row-fluid">
                                        <div class="span1 text-center">
                                            <i class="icon-greentick"></i>
                                        </div>
                                        <div class="span11">
                                            Die Einstellungen für [[ domainName ]] wurden erfolgreich gespeichert! Aktivieren Sie nun die Anzeige Ihres Banners:
                                        </div>
                                    </div>
                                </h3>

                                <div class="row-fluid-colfix-well" style="position: relative;">
                                    <div class="row-fluid-colfix margin20px">
                                        <div class="span6 well">
                                            <p class="text-center"><img src="/bundles/websitebase/images/clickcounterdns.png" alt="" /></p>
                                            <h3>Direkt aktivieren</h3>
                                            <p>
                                                Sed nibh leo, congue accumsan magna at, varius luctus ipsum. Fusce porta eget ligula quis vulputate. Nunc tellus augue, tempus et iaculis elementum, ultrices mattis turpis. Nulla facilisi. Vivamus cursus ante nisi, vel tincidunt erat pretium et.
                                            </p>
                                            <div class="overlay" ng-hide="domaineditbasic.$data.forwarding == 'true'">
                                                <div class="circle82px circle-well circle-shadow">
                                                    <div class="circle-center">
                                                        Nur möglich, wenn die Weiterleitung aktiviert ist.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <a class="offset6 span6 btn btn-primary" ng-click="dnsForward()">
                                                    <span ng-show="activated==0">
                                                        Jetzt aktivieren
                                                    </span>
                                                    <span ng-show="activated==1">
                                                        <img src="/bundles/websitebase/images/loader-button.gif" alt="activating ..." />
                                                    </span>
                                                    <span ng-show="activated==2">
                                                        aktiviert ✓
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="span6 well">
                                            <p class="text-center"><img src="/bundles/websitebase/images/clickcounterjs.png" alt="" /></p>
                                            <h3>Code einbetten</h3>
                                            <p>
                                                Duis dapibus ullamcorper nunc sed condimentum. Morbi tincidunt odio odio, in ornare quam ultricies eu. Curabitur rutrum a neque eu mattis. Nulla purus dui, mattis quis libero sodales, ullamcorper mollis orci.
                                            </p>
                                            <pre>&lt;script src="https://dothiv-registry.appspot.com/static/banner.min.js" type="text/javascript"&gt;&lt;/script&gt;</pre>
                                            <p>
                                                Quisque a dolor a lacus suscipit congue nec ac ligula. Nulla ut sagittis neque, convallis convallis mauris. Morbi hendrerit mollis arcu, id dictum nulla tincidunt pharetra. Fusce vel tincidunt lorem.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="circle28px circle-blue" ng-show="domaineditbasic.$data.forwarding == 'true'">oder</div>
                                </div>
                            </div>

                            <div class="tab-bottom-buttons">
                                <button ng-click="tab2.active = true"><i class="icon-tick-left"></i>&nbsp;Schritt zurück</button>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </form>
        </div>
    </div>
</div>
