<div class="container">
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-domains-heading">
            <div class="profile-list-search pull-right"><input no-validate ng-model='searchText.name' placeholder="Domains suchen"></div>
            <h2>Domainübersicht</h2>
        </div>
    </div>
    <div ng-hide="domains.$resolved">
        <p class="text-center"><dh-loader></dh-loader></p>
    </div>
    <div ng-show="domains.$resolved">
        <ul class="profile-summary-list profile-summary-domains-list">
            <li ng-repeat="domain in (domains | filter:searchText | limitTo:(searchText.name ? domains.length : pageLength))">
                <dh-domain-item domain="domain"></dh-domain-item>
            </li>
        </ul>
    </div>
    <div class="row">
        <button class="next-page span12" ng-hide="(pageLength >= domains.length) || searchText.name" ng-click="pageLength = pageLength + 5">Mehr anzeigen <i class="icon-tick-lower icon-white"></i></button>
    </div>
</div>