<div class="container">
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-projects-heading">
            <a class="pull-right next2h2" href="#"><div class="heading-arrow"></div>Neues Projekt anlegen</a>
            <h2>Projektübersicht</h2>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-projects-list">
        <li ng-repeat="p in projects">
            <dh-project-item project="p"></dh-project-item>
        </li>
    </ul>
</div>