<div class="container profile-summary">
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-projects-heading">
            <a class="pull-right next2h2" href="#"><div class="heading-arrow"></div>Neues Projekt anlegen</a>
            <h2 class="pull-left">Projekte ([[ projects.length ]])</h2>
            <a class="next2h2" href="#!/profile/projects"><div class="heading-arrow"></div>Alle Projekte anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-projects-list">
        <li ng-repeat="p in projects">
            <dh-project-item project="p"></dh-project-item>
        </li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-domains-heading">
            <a class="pull-right next2h2" href="#"><div class="heading-arrow"></div>Neue Domain registrieren</a>
            <h2 class="pull-left">Registrierte Domains ([[ domains.length ]])</h2>
            <a class="next2h2" href="#!/profile/domains"><div class="heading-arrow"></div>Alle Domains anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-domains-list">
        <li ng-repeat="d in (domains | limitTo:3)">
            <dh-domain-item domain="d"></dh-domain-item>
        </li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-votes-heading">
            <h2 class="pull-left">Abgegebene Votes (4)</h2>
            <a class="next2h2" href="#!/profile/votes"><div class="heading-arrow"></div>Alle abgegebenen Votes anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-votes-list">
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:votes-item.html.twig' %}</li>
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:votes-item.html.twig' %}</li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-comments-heading">
            <h2 class="pull-left">Abgegebene Kommentare (10)</h2>
            <a class="next2h2" href="#!/profile/comments"><div class="heading-arrow"></div>Alle abgegebenen Kommentare anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-comments-list">
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:comments-item.html.twig' %}</li>
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:comments-item.html.twig' %}</li>
        <li>{% include 'DotHivWebsiteCharityBundle:Partials/Profile:comments-item.html.twig' %}</li>
    </ul>
</div>