@textFontFamily: 'Source Sans Pro', sans-serif;
@headingsFontFamily: @textFontFamily;
@fontWeightNormal: 300;
@fontWeightBold: 600;

.regularText {
  font-family: @textFontFamily;
  font-weight: @fontWeightNormal;
}

body {
  &:extend(.regularText);
  font-size: 16px;
}

.headingLight {
  font-family: @headingsFontFamily;
  font-weight: @fontWeightNormal;
}

.headingRegular {
  font-family: @headingsFontFamily;
  font-weight: @fontWeightBold;
}

h1, h2, h3, h4, h5, h6 {
  &:extend(.headingLight);
}

p {
  line-height: 140%;
}
