.well {
    background-color: @wellBackground;
    padding: @wellPadding;
    border: none;
    .box-shadow(none);

    & .well {
        background-color: @wellWellBackground;
    }

    & hr {
        border-bottom-color: #818181;
    }
}
