header.page {
  &:extend(.container)
;
  section {
    .make-row();
    &.logo {
      .clearfix();
      position: relative;
      @media (min-width: @screen-xs-min) {
        padding-bottom: 30px;
        padding-top: 30px;
      }
      h1 {
        .make-sm-column(6);
        &:extend(.logoplustext all);
      }
      nav {
        margin-bottom: 10px;
        a {
          display: block;
          text-align: center;
        }
        @media (min-width: @screen-sm-min) {
          position: absolute;
          right: 10px;
          bottom: 40px;
          margin-bottom: 0;
          a {
            text-align: left;
            display: block;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
