<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.stakeholder.headline"></h1>

            <p translate="gmbh.stakeholder.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.stakeholder.secondheadline1"></h2>

            <p translate="gmbh.stakeholder.text2"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.stakeholder.secondheadline2"></h2>

            <p translate="gmbh.stakeholder.text3"></p>
        </div>
    </div>
</div>
