<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.launch.headline"></h1>
        </div>
        <div class="span12">
            <p translate="gmbh.launch.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <img src="http://dummyimage.com/950x300/ccc/fff" alt="[[ 'gmbh.launch.headline' | translate ]]">
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p translate="gmbh.launch.text2"></p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <a href="#!/register">
                [[ 'gmbh.launch.link.register' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
        <div class="span4">
            <a href="#!/registrars">
                [[ 'gmbh.launch.link.registrars' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
        <div class="span4">
            <a href="#!/policies">
                [[ 'gmbh.launch.link.policies' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>
</div>
