<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.register.headline"></h1>

            <p translate="gmbh.register.text1"></p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.register.secondheadline1"></h2>

            <p translate="gmbh.register.text2"></p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.register.secondheadline2"></h2>

            <p translate="gmbh.register.text3"></p>
            <table class="table">
                <thead>
                <tr>
                    <th translate="gmbh.register.table.left"></th>
                    <th translate="gmbh.register.table.middle"></th>
                    <th translate="gmbh.register.table.right" class="text-right"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">name.com</a></td>
                    <td>USA</td>
                    <td class="text-right">169,- €</td>
                </tr>
                <tr>
                    <td><a href="#">United Domains</a></td>
                    <td>USA</td>
                    <td class="text-right">175,- €</td>
                </tr>
                <tr>
                    <td><a href="#">1&amp;1</a></td>
                    <td>Deutschland</td>
                    <td class="text-right">175,- €</td>
                </tr>
                <tr>
                    <td><a href="#">Go Daddy</a></td>
                    <td>England</td>
                    <td class="text-right">179,- €</td>
                </tr>
                <tr>
                    <td><a href="#">Moniker</a></td>
                    <td>Frankreich</td>
                    <td class="text-right">182,- €</td>
                </tr>
                <tr>
                    <td><a href="#">United Domains</a></td>
                    <td>Deutschland</td>
                    <td class="text-right">184,- €</td>
                </tr>
                <tr>
                    <td><a href="#">Key Systems</a></td>
                    <td>Deutschland</td>
                    <td class="text-right">209,- €</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
