<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.nonprofit.headline"></h1>

            <p translate="gmbh.nonprofit.text1"></p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.nonprofit.secondheadline1"></h2>
            <dh-teaser prefix="gmbh.nonprofit.expand1"></dh-teaser>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.nonprofit.secondheadline2"></h2>
            <dh-teaser prefix="gmbh.nonprofit.expand2"></dh-teaser>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <p class="pull-right">
                <a class="btn btn-primary" href="#!/register/nonprofit/start"> [[ 'gmbh.nonprofit.bewerbung.start' | translate
                    ]] </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.nonprofit.secondheadline3"></h2>
            <p translate="gmbh.nonprofit.text4"></p>
            <table class="table">
                <thead>
                    <tr>
                        <th translate="gmbh.nonprofit.table.left"></th>
                        <th translate="gmbh.nonprofit.table.right"></th>
                    </tr>
                </thead>
                <tbody>
                <tr><td><a href="http://www.aidshilfe.hiv">www.aidshilfe.hiv</a></td><td>Deutsche Aids Hilfe e.V.</td></tr>
                <tr><td><a href="http://www.aidsmap.hiv">www.aidsmap.hiv</a></td><td>Aidsmap Organisation</td></tr>
                <tr><td><a href="http://www.keepachildalive.hiv">www.keepachildalive.hiv</a></td><td>Keep A Child Alive Foundation</td></tr>
                <tr><td><a href="http://www.globalfund.hiv">www.globalfund.hiv</a></td><td>Global Fund to fight HIV/AIDS</td></tr>
                <tr><td><a href="http://www.hivpositive.hiv">www.hivpositive.hiv</a></td><td>Any other organisation</td></tr>
                <tr><td><a href="http://www.aidshilfe.hiv">www.aidshilfe.hiv</a></td><td>Deutsche Aids Hilfe e.V.</td></tr>
                <tr><td><a href="http://www.aidsmap.hiv">www.aidsmap.hiv</a></td><td>Aidsmap Organisation</td></tr>
                <tr><td><a href="http://www.keepachildalive.hiv">www.keepachildalive.hiv</a></td><td>Keep A Child Alive Foundation</td></tr>
                <tr><td><a href="http://www.globalfund.hiv">www.globalfund.hiv</a></td><td>Global Fund to fight HIV/AIDS</td></tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
