<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.registrars.headline"></h1>

            <p translate="gmbh.registrars.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.registrars.secondheadline1"></h2>

            <p translate="gmbh.registrars.text2"></p>
            <ol>
                <li translate="gmbh.registrars.listnum1"></li>
                <li translate="gmbh.registrars.listnum2"></li>
                <li translate="gmbh.registrars.listnum3"></li>
                <li translate="gmbh.registrars.listnum4"></li>
                <li translate="gmbh.registrars.listnum5"></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form method="POST" class="oneline">
                <fieldset>
                    <input type="email" placeholder="[[ 'gmbh.registrars.field' | translate ]]" class=" pull-left">
                    <button class="btn btn-primary" translate="gmbh.registrars.button1"></button>
                </fieldset>
            </form>
        </div>
        <div class="span4">
            <a class="pull-right" href="#!/registrars/list"> [[ 'gmbh.registrars.link' | translate ]]
                <div class="heading-arrow"></div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.registrars.secondheadline2"></h2>

            <p translate="gmbh.registrars.text3"></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <p class="pull-right">
                <a class="btn btn-primary" href="https://apply.afilias.info/"> [[ 'gmbh.registrars.button2' | translate
                    ]] </a>
            </p>
        </div>
    </div>
</div>
