<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.report.headline"></h1>

            <p translate="gmbh.report.text"></p>
        </div>
    </div>

    <div class="row">
        <div class="span6 offset3">
            <form method="POST">
                <fieldset>
                    <p>
                        <label for="contact-name" translate="gmbh.report.form.name"></label>
                        <input required type="text" name="contact-name" id="contact-name">
                    </p>

                    <p>
                        <label for="contact-email" translate="gmbh.report.form.email"></label>
                        <input required type="email" name="contact-email" id="contact-email">
                    </p>

                    <p>
                        <label for="contact-organization" translate="gmbh.report.form.organization"></label>
                        <input type="text" name="name" id="contact-organization">
                    </p>

                    <p>
                        <label for="contact-hivdomain" translate="gmbh.report.form.hivdomain"></label>
                        <input type="text" required pattern=".{3,}\.hiv$" name="hivdomain" id="contact-hivdomain">
                    </p>
                </fieldset>

                <fieldset>

                    <p>
                        <label for="contact-subject" translate="gmbh.report.form.subject"></label>
                        <input required type="text" name="subject" id="contact-subject">
                    </p>

                    <p>
                        <label for="contact-message" translate="gmbh.report.form.message"></label>
                        <textarea required id="contact-message"></textarea>
                    </p>

                </fieldset>

                <fieldset>
                    <button class="btn btn-primary pull-right" type="submit" translate="gmbh.report.button"></button>
                </fieldset>
            </form>

        </div>
    </div>

</div>
