<div class="container content">
    <div class="row">
        <div class="span12">
            <h1 translate="gmbh.team.headline"></h1>

            <p translate="gmbh.team.text1"></p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <img src="http://dummyimage.com/100x125/ccc/fff" alt="Vorname Nachname">
        </div>

        <div class="span4">
            <h3>Vorname Nachname</h3>

            <p>
                Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
                Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans </p>
        </div>
        <div class="span2">
            <img src="http://dummyimage.com/100x125/ccc/fff" alt="Vorname Nachname">
        </div>

        <div class="span4">
            <h3>Vorname Nachname</h3>

            <p>
                Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
                Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans </p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <img src="http://dummyimage.com/100x125/ccc/fff" alt="Vorname Nachname">
        </div>

        <div class="span4">
            <h3>Vorname Nachname</h3>

            <p>
                Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
                Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans </p>
        </div>
        <div class="span2">
            <img src="http://dummyimage.com/100x125/ccc/fff" alt="Vorname Nachname">
        </div>

        <div class="span4">
            <h3>Vorname Nachname</h3>

            <p>
                Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte.
                Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans </p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2 translate="gmbh.team.secondheadline1"></h2>

            <p translate="gmbh.team.text2"></p>
        </div>
    </div>
    <div class="row">
        <div class="span1">
            <img src="http://dummyimage.com/75x75/ccc/fff" alt="">
        </div>

        <div class="span5">
            <h3>Job Title</h3>

            <p>
                Job description </p>
        </div>
        <div class="span1">
            <img src="http://dummyimage.com/75x75/ccc/fff" alt="">
        </div>

        <div class="span5">
            <h3>Job Title</h3>

            <p>
                Job description </p>
        </div>
    </div>
    <div class="row">
        <div class="span1">
            <img src="http://dummyimage.com/75x75/ccc/fff" alt="">
        </div>

        <div class="span5">
            <h3>Job Title</h3>

            <p>
                Job description </p>
        </div>
        <div class="span1">
            <img src="http://dummyimage.com/75x75/ccc/fff" alt="">
        </div>

        <div class="span5">
            <h3>Job Title</h3>

            <p>
                Job description </p>
        </div>
    </div>
</div>
