{% trans_default_domain "registry" %}
{% set title %}{% trans %}gmbh.concepts.headline{% endtrans %}{% endset %}
{% extends "DothivRegistryWebsiteBundle::page.html.twig" %}
{% block content %}
    <div class="container content">
        <div class="row">
            <div class="span12">
                <h1>{{ title }}</h1>

                <p>{% trans %}gmbh.concepts.desc{% endtrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="span2">
                <img src="http://dummyimage.com/200x150/ccc/fff" alt="{% trans %}gmbh.concepts.bsp1.title{% endtrans %}">
            </div>
            <div class="span4">
                <h2>{% trans %}gmbh.concepts.bsp1.title{% endtrans %}</h2>

                <p>{% trans %}gmbh.concepts.bsp1.text{% endtrans %}</p>

                <p class="pull-right">
                    <a class href="#">{% trans %}gmbh.concepts.bsp1.url{% endtrans %}<span class="heading-arrow"></span></a>
                </p>
            </div>
            <div class="span2">
                <img src="http://dummyimage.com/200x150/ccc/fff" alt="{% trans %}gmbh.concepts.bsp2.title{% endtrans %}">
            </div>
            <div class="span4">
                <h2>{% trans %}gmbh.concepts.bsp2.title{% endtrans %}</h2>

                <p>{% trans %}gmbh.concepts.bsp2.text{% endtrans %}</p>

                <p class="pull-right">
                    <a class href="#">{% trans %}gmbh.concepts.bsp2.url{% endtrans %}<span class="heading-arrow"></span></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <p class="pull-right">
                    <a class="btn btn-primary" href="#!/register"> {% trans %}gmbh.concepts.button{% endtrans %} </a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
