{% set title %}{{ page.title }}{% endset %}
{% extends "DothivRegistryWebsiteBundle::page.html.twig" %}
{% block content %}
    <div class="container content">
        {% include "DothivRegistryWebsiteBundle:partials:cfpage.html.twig" with {'page': page} %}
    </div>
{% endblock %}
