{% extends "DothivRegistryWebsiteBundle::page.html.twig" %}
{% block content %}
    <div class="container aboutus">
        <div class="row">
            <div class="span12">
                <h2>{% trans %}gmbh.home.aboutus.headline{% endtrans %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="span6"><p class="running-text">{% trans %}gmbh.home.aboutus.left{% endtrans %}</p></div>
            <div class="span6"><p class="running-text">{% trans %}gmbh.home.aboutus.right{% endtrans %}</p></div>
        </div>
    </div>
    <hr class="bottom-shadow">
    <div class="container domain-chooser">
        <div class="row">
            <div class="span8 pull-left">
                <h2>{% trans %}gmbh.home.latest.title{% endtrans %}</h2>
                <p>{% trans %}gmbh.home.latest.text{% endtrans %}</p>
            </div>

            <div class="span4 pull-right">
                <button class="scroll pull-left" ng-click="urlOffset = urlOffset+1;"><i class="icon-tick-left icon-white icon-small"></i></button>
                <div ng-repeat="u in ( urls | carousel: urlOffset | limitTo: 1)" class="running-text bold-text display pull-left">[[ u.name ]]</div>
                <button class="scroll pull-left" ng-click="urlOffset = urlOffset-1;"><i class="icon-tick-right icon-white icon-small"></i></button>
            </div>
        </div>
    </div>
    <hr class="bottom-shadow">
    <div class="container">
        <div class="row">
            <div class="pull-left">
                <h2 class="hivblue-text">{% trans %}gmbh.home.companies.headline{% endtrans %}</h2>
                <p>{% trans %}gmbh.home.companies.text{% endtrans %}</p>
            </div>
            <a class="next2h2 pull-left" href="{{ path('dothiv_registry_page', {'locale': locale, 'page':  'concepts'}) }}">
                <div class="heading-arrow"></div>
                {% trans %}gmbh.home.companies.all{% endtrans %}
            </a>
            <div class="next2h2 pull-right">
                <button class="scroll" ng-click="firmOffset = firmOffset+1"><i class="icon-tick-left"></i></button>
                <button class="scroll" ng-click="firmOffset = firmOffset-1"><i class="icon-tick-right"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="span2" ng-repeat="f in (firms | carousel: firmOffset | limitTo: 6)">
                <a ng-href="[[ f.url ]]">
                    <img ng-src="[[ f.img ]]"></img>
                </a>
            </div>
        </div>
    </div>
    <hr class="bottom-shadow">
    <div class="container">
        <div class="row">
            <h2 class="hivblue-text pull-left"> {% trans %}gmbh.home.charity.headline{% endtrans %}</h2>
            <a class="next2h2 pull-left" href="{{ path('dothiv_registry_page', {'locale': locale, 'page':  'register_nonprofit'}) }}">
                <div class="heading-arrow"></div>
                {% trans %}gmbh.home.charity.all{% endtrans %}
            </a>
            <div class="next2h2 pull-right">
                <button class="scroll" ng-click="charityOffset = charityOffset+1"><i class="icon-tick-left"></i></button>
                <button class="scroll" ng-click="charityOffset = charityOffset-1"><i class="icon-tick-right"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="span3" ng-repeat="f in (charity | carousel: charityOffset | limitTo: 4)">
                <a ng-href="[[ f.url ]]">
                    <img ng-src="[[ f.img ]]"></img>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
