{% trans_default_domain "registry" %}
{% set title %}{{ page.title }}{% endset %}
{% extends "DothivRegistryWebsiteBundle:Page:content.html.twig" %}
{% block headernav %}{% endblock headernav %}
{% block subheader %}{% endblock subheader %}
{% block content %}
    {{ parent() }}
    <div data-ui-view></div>
{% endblock %}
{% block angular_app %}
    {% javascripts
    '@punycode_js'
    '@angular_js_resource'
    '@angular_js_route'
    '@angular_js_cookies'
    '@angular_ui_router'
    '@jquery'
    '@angular_ui_bootstrap_tpls'
    '@angular_file_upload'
    '@DothivRegistryWebsiteBundle/Resources/public/js/nonProfitRegisterApp.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/services/*.js'
    '@DothivBaseWebsiteBundle/Resources/public/js/services/models/*.js'
    '@DothivRegistryWebsiteBundle/Resources/public/js/controllers/NonProfitRegister/*.js'
    filter='?uglifyjs2'
    output='js/*.min.js'
    %}
    <script type="text/javascript" src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
{% endblock angular_app %}
