{% trans_default_domain "registry" %}
{% set title %}{{ page.title }}{% endset %}
{% extends "DothivRegistryWebsiteBundle:Page:content.html.twig" %}
{% block headernav %}{% endblock headernav %}
{% block subheader %}{% endblock subheader %}
{% block content %}
    {{ parent() }}
    <article class="content">
    <section class="cf-level-2">
        <div class="block">
            <a href="{{ path('dothiv_register_nonprofit_form', {'locale': locale}) }}" class="btn btn-primary pull-right">
                Start the registration &raquo;
            </a>
        </div>
    </section>
    </article>
{% endblock %}
