<!-- adopt for mobile useage -->
<div class="pink-bar rightside">
    <div class="pink-bar leftside text-right">
        <p>
            <span class="pink-bar-text">{% trans %} home.pinkbar.activated {% endtrans %}</span>
            <span class="pink-bar-text bold" id="active-money">€ 123.456</span>
            <img class="pink-bar-image" src="{{ asset("bundles/websitecharity/images/tick-white.png") }}">
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span4">
            <div class="upper"><h3 class="pink-text">{% trans %} home.about.oneclickheadline {% endtrans %}</h3></div>
            <div class="lower"><p class="running-text">{% trans %} home.about.oneclick {% endtrans %}</p></div>
        </div>
        <div class="span4">
            <div class="upper"><h3 class="hivblue-text">Voten</h3></div>
            <div class="lower"><p class="running-text">{% trans %}home.about.oneclick{% endtrans %}</p></div>
        </div>
        <div class="span4">
            <div class="upper"><h3 class="colordark-text">Teilen</h3></div>
            <div class="lower"><p class="running-text">{% trans %}home.about.oneclick{% endtrans %}</p></div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            wer steht dahinter 
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            voten
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            unternehmen
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            zitate
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            unsere partner
        </div>
    </div>
    <div class="row">
        <div class="span12 center">
            footer
        </div>
    </div>
</div>