<!-- adopt for mobile useage -->
<div class="pink leftside text-right">
    <div class="vert-center">
        <span class="text">Bisher aktiviert: </span>
        <span class="text bold" id="active-money">€ 123.456</span>
        <img class="image" src="{{ asset("bundles/websitecharity/images/tick-white.png") }}">
    </div>
</div>
<div class="pink rightside"></div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            klicken voten teilen
        </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="span12 center">
            wer steht dahinter 
        </div>
    </div>
    <hr>    
    <div class="row text-center">
        <div class="span12 center">
            voten
        </div>
    </div>
    <hr>    
    <div class="row text-center">  
        <div class="span12 center">
            unternehmen
        </div>
    </div>
    <hr>    
    <div class="row text-center">  
        <div class="span12 center">
            zitate
        </div>
    </div>
    <hr>    
    <div class="row text-center">  
        <div class="span12 center">
            unsere partner
        </div>
    </div>
    <div class="row text-center">  
        <div class="span12 center">
            footer
        </div>
    </div>
</div>