<div >
    <div class="jumbotron infobox" ng-hide="isClosed">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="upper"><h3 class="pink-text">[[ 'home.about.oneclickheadline' | translate ]]</h3></div>
                    <div class="lower"><p class="running-text">[[ 'home.about.oneclick' | translate ]]</p></div>
                </div>
                <div class="span4">
                    <div class="upper"><h3 class="hivblue-text">Voten</h3></div>
                    <div class="lower"><p class="running-text">[[ 'home.about.oneclick' | translate ]] baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab baba baba babab </p></div>
                </div>
                <div class="span4">
                    <div class="upper"><h3 class="colordark-text">Teilen</h3></div>
                    <div class="lower"><p class="running-text">[[ 'home.about.oneclick' | translate ]] babababababab babababababab baba baba babab baba baba babab baba baba babab baba baba babab </p></div>
                </div>
            </div>
            <div class="row colorfooter-container">
                    <div class="colorfooter4 color-pink"></div>
                    <div class="colorfooter4 color-blue"></div>
                    <div class="colorfooter4 color-dark colorfooter-last-dark"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12 center">
            wer steht dahinter 
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            voten
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            unternehmen
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            zitate
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="span12 center">
            unsere partner
        </div>
    </div>
</div>