<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <button type="button" class="close" ng-click="abort()" aria-hidden="true">&times;</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <form novalidate name="loginForm" class="simple-form" ng-class="{clean: loginclean, unclean: !loginclean}">
                <fieldset>
                    <h4>[[ 'login.form.title' | translate ]]</h4>
                    <p><small>[[ 'login.form.text' | translate ]]</small></p>

                    <dh-input
                        class="span12"
                        type="email"

                        dh-name="loginusername"
                        dh-id="login-id"
                        dh-focus="focusLoginUsername"
                        dh-placeholder="[[ 'login.form.username.placeholder' | translate ]]"
                        ng-model="loginData.username"

                        dh-ng-required="true"
                        dh-autofocus

                        dh-label="[[ 'login.form.username.label' | translate ]]"

                        dh-tooltip="logintooltip"
                        dh-tooltip-trigger="focus"
                        dh-tooltip-placement="top"
                        dh-tooltip-invalid="'login.form.username.tooltip.invalid' | translate"
                        dh-tooltip-show-invalid="!loginclean"
                        ></dh-input>

                    <dh-input
                        class="span12"
                        type="password"

                        dh-name="login-password"
                        dh-placeholder="[[ 'login.form.password.placeholder' | translate ]]"
                        ng-model="loginData.password"

                        dh-ng-required="true"

                        dh-label="[[ 'login.form.password' | translate ]]"

                        dh-tooltip="'login.form.password.tooltip' | translate"
                        dh-tooltip-trigger="focus"
                        dh-tooltip-placement="right"
                        ></dh-input>

                    <button type="submit" ng-click="login(loginData)" class="btn btn-primary" >[[ 'login.form.submit' | translate ]]</button>
                    <button type="button" class="btn btn-link">[[ 'login.form.passwordrecovery' | translate ]]</button>
                </fieldset>
            </form>

            <h4>[[ 'login.form.thirdparty' | translate ]]</h4>
            <div class="row-fluid">
                <div class="btn-group btn-group-vertical span12">
                    <button
                        type="button"
                        class="btn btn-facebook span12"
                        ng-click="thirdparty('{{ path('dot_hiv_api_security_facebook_login_start') }}')"
                        >
                        [[ 'login.form.thirdparty.facebook.button' | translate ]]
                        <i class="icon-tick-right icon-white pull-right"></i>
                    </button>
                    <button type="button" class="btn btn-twitter span12">[[ 'login.form.thirdparty.twitter.button' | translate ]]<i class="icon-tick-right icon-white pull-right"></i></button>
                    <button type="button" class="btn btn-gplus span12">[[ 'login.form.thirdparty.gplus.button' | translate ]]<i class="icon-tick-right icon-white pull-right"></i></button>
                </div>
            </div>
        </div>

        <div class="span6">
            <form novalidate name="registrationForm" class="simple-form" ng-class="{clean: registrationclean, unclean: !registrationclean}">
                <fieldset>
                    <h4>[[ 'registration.form.title' | translate ]]</h4>
                    <p><small>[[ 'registration.form.text' | translate ]]</small></p>

                    <dh-input
                        class="span12"
                        type="text"

                        dh-name="registration-name"
                        dh-focus="registrationfocus.name"
                        dh-placeholder="[[ 'registration.form.name.placeholder' | translate ]]"
                        ng-model="registrationData.name"

                        dh-ng-required="true"

                        dh-label="[[ 'registration.form.name.label' | translate ]]"

                        dh-tooltip="registrationtooltip.name.default"
                        dh-tooltip-trigger="focus"
                        dh-tooltip-placement="top"
                        dh-tooltip-invalid="registrationtooltip.name.invalid"
                        dh-tooltip-show-invalid="!registrationclean"
                        ></dh-input>

                    <dh-input
                        class="span12"
                        type="text"

                        dh-name="registration-surname"
                        dh-focus="registrationfocus.surname"
                        dh-placeholder="[[ 'registration.form.surname.placeholder' | translate ]]"
                        ng-model="registrationData.surname"

                        dh-ng-required="true"

                        dh-label="[[ 'registration.form.surname.label' | translate ]]"

                        dh-tooltip="registrationtooltip.surname.default"
                        dh-tooltip-trigger="focus"
                        dh-tooltip-placement="top"
                        dh-tooltip-invalid="registrationtooltip.surname.invalid"
                        dh-tooltip-show-invalid="!registrationclean"
                        ></dh-input>

                    <dh-input
                        class="span12"
                        type="email"

                        dh-name="registration-email"
                        dh-focus="registrationfocus.email"
                        dh-placeholder="[[ 'registration.form.email.placeholder' | translate ]]"
                        ng-model="registrationData.email"

                        dh-ng-required="true"

                        dh-label="[[ 'registration.form.email.label' | translate ]]"

                        dh-tooltip="registrationtooltip.email.default"
                        dh-tooltip-trigger="focus"
                        dh-tooltip-placement="top"
                        dh-tooltip-invalid="registrationtooltip.email.invalid"
                        dh-tooltip-show-invalid="!registrationclean"
                        ></dh-input>

                    <label for="registration-password">[[ 'registration.form.password.label' | translate ]]</label>
                    <input type="password" class="span12" name="registration-password" id="registration-password" ng-model="registrationData.password" placeholder="[[ 'registration.form.password.placeholder' | translate ]]" required /><br />

                    <label for="registration-passwordrepeat">[[ 'registration.form.passwordrepeat.label' | translate ]]</label>
                    <input type="password" class="span12" name="registration-passwordrepeat" id="registration-passwordrepeat" placeholder="[[ 'registration.form.password.placeholderrepeat' | translate ]]" ng-model="registrationData.passwordRepeat" repeat-password="registration-password" required>

                    <label class="checkbox">
                        <input type="checkbox"> [[ 'registration.form.agreement' | translate ]]
                    </label>

                    <button type="submit" ng-click="register(registrationData)" class="btn btn-primary" >[[ 'registration.form.submit' | translate ]]</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
