<div class="container">
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-projects-heading">
            <a class="pull-right" href="#">Neues Projekt anlegen</a>
            <h2>Projekte (2)</h2>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-projects-list">
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <a class="pull-right" href="#">Sterne</a>
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Projekt bearbeiten</a>
                            <span>2344 Votes&nbsp;&nbsp;|&nbsp;&nbsp;Platz 21&nbsp;&nbsp;|&nbsp;&nbsp;15 Kommentare&nbsp;&nbsp;|&nbsp;&nbsp;Projekt l채uft</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <a class="pull-right" href="#">Sterne</a>
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Projekt bearbeiten</a>
                            <span>2344 Votes&nbsp;&nbsp;|&nbsp;&nbsp;Platz 21&nbsp;&nbsp;|&nbsp;&nbsp;15 Kommentare&nbsp;&nbsp;|&nbsp;&nbsp;Projekt l채uft</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-domains-heading">
            <a class="pull-right" href="#">Neue Domain registrieren</a>
            <h2>Registrierte Domains (1)</h2>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-domains-list">
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <a class="pull-right" href="#">Sterne</a>
                        <h3>audi.hiv</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Domain bearbeiten</a>
                            <span>223.342 Hits&nbsp;&nbsp;|&nbsp;&nbsp;Standard-Banner</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-votes-heading">
                <h2 class="pull-left">Abgegebene Votes (4)</h2>
                <a href="#">Alle abgegebenen Votes anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-votes-list">
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Zum Projekt</a>
                            <span>2344 Votes&nbsp;&nbsp;|&nbsp;&nbsp;wurde umgesetzt</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Zum Projekt</a>
                            <span>2344 Votes&nbsp;&nbsp;|&nbsp;&nbsp;wurde umgesetzt</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-comments-heading">
            <h2 class="pull-left">Abgegebene Kommentare (10)</h2>
            <a href="#">Alle abgegebenen Kommentare anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-comments-list">
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Zum Projekt</a>
                            <span>"Bitte unterst체tzen Sie dieses Projekt, ..."</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Zum Projekt</a>
                            <span>"Bitte unterst체tzen Sie dieses Projekt, ..."</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>