<header class="jumbotron profile-summary-header" style="background-image: url('bundles/websitecharity/images/squairy_light_textur.png');">
    <div class="container">
        <div class="row">
            <div class="span9">
                <h1>Hallo Max Mustermann!</h1>
                <p class="profile-summary-login-info">Letzter Login: heute, 08:32</p>
                <p class="profile-summary-status-info"><span>4 Votes</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span>10 abgegebene Kommentare</span></p>
            </div>
            <div class="span3">
                <ul>
                    <li class="accountance"><a ng-click="">Übersicht</a></li>
                    <li class="accountance"><a ng-click="">Profil bearbeiten</a></li>
                    <li class="accountance"><a ng-click="">Projekte verwalten (3)</a></li>
                    <li class="accountance"><a ng-click="">Domains verwalten (1)</a></li>
                    <li class="accountance grey"><a ng-click="">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-projects-heading">
            <a class="pull-right" href="#">Neues Projekt anlegen</a>
            <h2>Projekte (2)</h2>
        </div>
    </div>    
    <ul class="profile-summary-list profile-summary-projects-list">
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <a class="pull-right" href="#">Sterne</a>
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Projekt bearbeiten</a>
                            <span>2344 Votes&nbsp;&nbsp;|&nbsp;&nbsp;Platz 21&nbsp;&nbsp;|&nbsp;&nbsp;15 Kommentare&nbsp;&nbsp;|&nbsp;&nbsp;Projekt läuft</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <a class="pull-right" href="#">Sterne</a>
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Projekt bearbeiten</a>
                            <span>2344 Votes&nbsp;&nbsp;|&nbsp;&nbsp;Platz 21&nbsp;&nbsp;|&nbsp;&nbsp;15 Kommentare&nbsp;&nbsp;|&nbsp;&nbsp;Projekt läuft</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-domains-heading">
            <a class="pull-right" href="#">Neue Domain registrieren</a>
            <h2>Registrierte Domains (1)</h2>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-domains-list">
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <a class="pull-right" href="#">Sterne</a>
                        <h3>audi.hiv</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Domain bearbeiten</a>
                            <span>223.342 Hits&nbsp;&nbsp;|&nbsp;&nbsp;Standard-Banner</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-votes-heading">
                <h2 class="pull-left">Abgegebene Votes (4)</h2>
                <a href="#">Alle abgegebenen Votes anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-votes-list">
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Zum Projekt</a>
                            <span>2344 Votes&nbsp;&nbsp;|&nbsp;&nbsp;wurde umgesetzt</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Zum Projekt</a>
                            <span>2344 Votes&nbsp;&nbsp;|&nbsp;&nbsp;wurde umgesetzt</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="span12 profile-summary-list-heading profile-summary-comments-heading">
            <h2 class="pull-left">Abgegebene Kommentare (10)</h2>
            <a href="#">Alle abgegebenen Kommentare anzeigen</a>
        </div>
    </div>
    <ul class="profile-summary-list profile-summary-comments-list">
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Zum Projekt</a>
                            <span>"Bitte unterstützen Sie dieses Projekt, ..."</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="span12 profile-summary-item">
                    <div class="profile-summary-item-well">
                        <h3>Projekt lorem ipsum dolor sit amet</h3>
                        <div class="profile-summary-item-lower">
                            <a class="pull-right" href="#">Zum Projekt</a>
                            <span>"Bitte unterstützen Sie dieses Projekt, ..."</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div style="height: 400px;"></div>