<h3 class="pink-text" translate="about.fororg.headline"></h3>
<p translate="about.fororg.text"></p>

<div class="anchor-dummy"></div>
<a name="guidelines"></a>
<h3 class="pink-text" translate="about.guidelines.headline"></h3>
<p translate="about.guidelines.text"></p>

<div class="anchor-dummy"></div>
<a name="apply"></a>
<h3 class="pink-text" translate="about.apply.headline"></h3>
<dh-teaser prefix="about.apply"></dh-teaser>

<div class="anchor-dummy"></div>
<a name="expertpool"></a>
<h3 class="pink-text" translate="about.expertpool.headline"></h3>
<p translate="about.expertpool.text"></p>
