<h3 class="pink-text" translate="about.mission.headline"></h3>
<p translate="about.mission.text"></p>

<div class="anchor-dummy"></div>
<a name="goals"></a>
<h3 class="pink-text" translate="about.goals.headline"></h3>
<p translate="about.goals.text"></p>

<div class="anchor-dummy"></div>
<a name="contribution"></a>
<h3 class="pink-text" translate="about.contribution.headline"></h3>
<dh-teaser prefix="about.contribution"></dh-teaser>

<div class="anchor-dummy"></div>
<a name="AIDS"></a>
<h3 class="pink-text" translate="about.AIDS.headline"></h3>
<p translate="about.AIDS.text"></p>
<dh-teaser prefix="about.AIDS"></dh-teaser>
<div class="row-fluid">
    <div class="span6">
        <p translate="about.AIDS.picture1"></p>
    </div>
    <div class="span6">
        <p translate="about.AIDS.picture2"></p>
    </div>
</div>
<h4 translate="about.AIDS.facts.headline"></h4>
<dh-teaser prefix="about.AIDS.facts"></dh-teaser>
<div class="row-fluid">
    <div class="span4">
        <p translate="about.AIDS.link1"></p>
    </div>
    <div class="span4">
        <p translate="about.AIDS.link2"></p>
    </div>
    <div class="span4">
        <p translate="about.AIDS.link3"></p>
    </div>
</div>
