<h3 class="pink-text" translate="about.newsstream.headline"></h3>
<h4 translate="about.newsstream.secondheadline"></h4>
<p translate="about.newsstream.text"></p>

<div class="anchor-dummy"></div>
<a name="socialmedia"></a>
<h3 class="pink-text" translate="about.socialmedia.headline"></h3>
<p translate="about.socialmedia.text"></p>
<h4 translate="about.socialmedia.facebook"></h4>
<div class="fb-like-box" data-href="https://www.facebook.com/dothiv" data-width="700" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true"></div>
<h4 translate="about.socialmedia.twitter"></h4>
<a class="twitter-timeline" href="https://twitter.com/dotHIV" data-widget-id="444251676346556416">Tweets by @dotHIV</a>
<h4 translate="about.socialmedia.pinterest"></h4>
<a data-pin-do="embedPin" href="http://www.pinterest.com/dothiv//"></a>
